<body>
    <div class="spacing"></div>

    <div class="center">
        <h1 class="title">Reset Password</h1>
        <form method="post">
            <div class="txt_field">
                <input type="password" required>
                <label>New Password</label>
            </div>
            <div class="txt_field">
                <input type="password" required>
                <label>Confirm Password</label>
            </div>
            <input type="submit" value="Submit" routerLink="/userDashboard">
            <div class="signup_link" routerLink="/signup">Cancel</div>
        </form>
    </div>
</body>