<section class="navpanel">
  <div class="navbar">
    <a class="logo" routerLink="/" href="#home">MyTAG</a>
    <div class="buttons">

      <a routerLink="/home" class="btn">Home</a>
      <a routerLink="/home/demo" class="btn">Demo</a>
      <a routerLink="/home/features" class="btn">Features</a>
      <a routerLink="/home/pricing" class="btn">Pricing</a>
      <a routerLink="/home/contact" class="btn">Contact Us</a>
      <a routerLink="/login" class="loginbtn">Log In</a>
      
    </div>
  </div>
</section>