@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.navbar {
    position: relative;
    z-index: 5;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    padding: 15px 2.7%;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.logoSection {
    width: 15%;
}

.brand {
    width: 82px;
}

.logoImg {
    width: 82px;
}

.w-nav-brand {
    position: relative;
    float: left;
    text-decoration: none;
    color: #333;
}

.nav-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 57%;
    margin-right: 16px;
    padding: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.w-nav-menu {
    position: relative;
    float: right;
}

.nav-link {
    margin-right: 1.6em;
    margin-left: 0;
    padding: 5px 0;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    color: #272829;
    font-size: 15px;
    line-height: 1.3966;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
}

.navbar-cta-wrapper {
    display: flex;
    width: 15%;
    padding-right: 0;
    justify-content: flex-end;
    align-items: center;
}

.button.light.white {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    color: #fff;
}

.button.light {
    padding-right: 24px;
    padding-left: 24px;
    border: 2px solid #f35a57;
    background-color: transparent;
    color: #f35a57;
    font-size: 15px;
    line-height: 1.33;
}

.button {
    padding: 13px 32px;
    border: 1px solid #f35a57;
    border-radius: 80px;
    background-color: #f35a57;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    line-height: 1.375;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
}

.button:hover {
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-out;
    background-color: #f35a57;
    cursor: pointer;
}

.white {
    color: white;
}

a {
    background-color: transparent;
    color: #f35a57;
    font-weight: 600;
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    .button, .logoSection {
        display: none;
    }
}