<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

<div class="overlay" id="overlay">
    <div class="logoContainer">
        <img src="../../assets/img/logo.jpg" alt="MyTag Logo" class="navLogo">
    </div>
  <nav class="overlay-menu">
    <ul>
        <li class="gapTop"><div class="flexBox"><i class="fa-solid fa-table-columns" style="color: white;"></i><a routerLink="/dashboard">Dashboard</a></div></li>
        <li><div class="flexBox"><i class="fa-solid fa-users" style="color: white;"></i><a routerLink="/accounts">Accounts</a></div></li>
        <li><div class="flexBox"><i class="fa-solid fa-address-card" style="color: white;"></i><a routerLink="/activeCards">Active Cards</a></div></li>
        <li><div class="flexBox"><i class="fa-solid fa-store" style="color: white;"></i><a routerLink="/orders">Orders</a></div></li>
        <li><div class="flexBox"><i class="fa-solid fa-table-columns" style="color: white;"></i><a>Products</a></div></li>
        <li><div class="flexBox"><i class="fa-solid fa-table-columns" style="color: white;"></i><a>Templates</a></div></li>
        <li><div class="flexBox"><i class="fa-solid fa-gear" style="color: white;"></i><a routerLink="/adminSettings">Settings</a></div></li>
        <li><div class="flexBox"><i class="fa-solid fa-arrow-right-from-bracket" style="color: white;"></i><a routerLink="/">Log Out</a></div></li>
    </ul>
  </nav>
</div>

<div class="body">
    <app-admin-vert-navbar></app-admin-vert-navbar>
    <div class="contentArea">
        <div class="horizontalNavArea">
            <div class="hamContainer">
                <div class="button_container" id="toggle" (click)="toggleNav()"><span class="top"></span><span class="middle"></span><span class="bottom"></span></div>
                <h1 class="pageTitle">Inventory</h1> 
            </div>
            <div class="totalCards">
                <h3 class="mobileHide">MYTAG</h3>
                <h5>Cards: {{responseData.length}}</h5>
            </div>
        </div>
        <div class="searchArea">
            <div class="searchLableContainer">
                <p class="lable bold">Set</p>
                <p class="lable bold">Date</p>
            </div>
            <div class="searchContainer gap">
                <select name="type" id="type" class="dateSpecifier">
                    <option value="day">This Day</option>
                    <option value="week">This Week</option>
                    <option value="month">This Month</option>
                    <option value="year">This Year</option>
                </select>
                <div class="flexBox1">
                    <input type="date" id="startDate" class="dateField">
                    <input type="date" id="endDate" class="dateField">
                </div>
            </div>
            <div class="searchLableContainer">
                <p class="lable">Card ID: </p>
                <p class="lable">Account ID: </p>
            </div> 
            <div class="searchContainer gap">
                <input type="text" id="cardID" class="inputField">
                <input type="text" id="accountID" class="inputField">
            </div>
            <div class="searchLableContainer">
                <p class="lable">Batch ID: </p>
                <p class="lable">Name: </p>
            </div>
            <div class="searchContainer gap">
                <input type="number" id="batchID" class="inputField">
                <input type="text" id="name" class="inputField">
            </div>
            <div class="checkBoxContainer">
                <label>Pending </label>
                <label>Reserved</label>
                <label>Active </label>
                <label>Cancelled </label>
            </div>
            <div class="checkBoxContainer">    
                <input type="checkbox" />
                <input type="checkbox" />
                <input type="checkbox" />
                <input type="checkbox" />
            </div>
            <div class="searchContainer gap">
                <input type="button" value="View" class="btnField">
                <input type="number" placeholder="" class="invisible" id="qty">
            </div>
            <div class="searchContainer gap">
                <input type="button" value="Add Card" class="btnField" (click)="addCards()">
                <input type="number" placeholder="Quantity" class="numField" id="qty">
            </div>
        </div>

        <div class="tableArea">
            <table>
                <tr>
                    <th>Card ID</th>
                    <th>Batch ID</th>
                    <th>Created Date</th>
                    <th>Created BY</th>
                    <th>Preview URL</th>
                    <th>Account ID</th>
                    <th>Account Name</th>
                    <th>User ID</th>
                    <th>Edit/View</th>
                    <th>Status</th>
                </tr>
                <tr *ngFor="let card of this.responseData">
                    <td>{{card.CardID}}</td>
                    <td>{{card.Batch}}</td>
                    <td>{{card.Created_date}}</td>
                    <td>{{card.Created_by}}</td>
                    <td>185.208.207.55:4200/viewCard/{{card.CardID}}</td>
                    <td>{{card.UserID}}</td>
                    <td>{{card.Name}}</td>
                    <td>{{card.Email}}</td>
                    <td><i class="fa-solid fa-pen-to-square" (click)="editCard(card.CardID)"></i></td>
                    <td class="activee" *ngIf="card.Status == 'active'">Active</td>
                    <td class="pending" *ngIf="card.Status == 'pending'">Pending</td>
                    <td class="cancelled" *ngIf="card.Status == 'cancelled'">Cancelled</td>
                    <td class="reserved" *ngIf="card.Status == 'reserved'">Reserved</td>
                </tr>
            </table>
        </div>
    </div>
</div>