<div class="body">
    <app-user-dashboard-nav></app-user-dashboard-nav>
    <div class="main">
        <div class="search-panel">
            <form class="search-fields">
                <div class="txt_field">
                    <input type="text" required>
                    <label>Search by Name</label>
                </div>
                <div class="txt_field">
                    <input type="text" required>
                    <label>Search by Card No.</label>
                </div>
            </form>
            <div class="buttons">
                <button>View</button>
                <button routerLink="/createCard">Add Card</button>                   
            </div>
        </div>

        <div class="main-body">
            <div class="verticalNav">
                <div class="verticalNavButtons">
                    <button class="verticalNavBtn">Cards</button>
                    <button class="verticalNavBtn">Email Signature</button>
                    <button class="verticalNavBtn">Analytics</button>
                    <button class="verticalNavBtn">Inventory</button>
                    <button class="verticalNavBtn">Settings</button>
                    <button class="verticalNavBtn">Log Out</button>
                </div>
                <!-- <ul>
                    <li><a routerLink="/userDashboard">Cards</a></li>
                    <li><a routerLink="/emailSignature">Email Signature</a></li>
                    <li><a routerLink="/analytics">Analytics</a></li>
                    <li><a routerLink="/inventory">Inventory</a></li>
                    <li><a >Settings</a></li>
                    <li routerLink="/"><a class="active">Log Out</a></li>
                </ul> -->
            </div>

            <div class="data">
                <button style="margin: 10px;">Test Button</button>
                <!-- MAKE THE TABLES AND DATA HERE -->
            </div>        
        </div>
    </div>
</div>