<div class="body">
    <app-user-dashboard-nav></app-user-dashboard-nav>
    <div class="main">
        <div class="search-panel">
            <form class="search-fields">
                <div class="txt_field">
                    <input type="text" required>
                    <label>Search by Name</label>
                </div>
                <div class="txt_field">
                    <input type="text" required>
                    <label>Search by Card No.</label>
                </div>
            </form>
            <div class="buttons">
                <button>View</button>
                <button routerLink="/createCard">Add Card</button>                   
            </div>
        </div>

        <div class="main-body">
            <app-vertical-nav></app-vertical-nav>

            <div class="data">
                <!-- MAKE THE TABLES AND DATA HERE -->
            </div>        
        </div>
    </div>
</div>