<body>
    <div class="spacing"></div><div class="spacing"></div>

    <div class="container center">
        <div class="card">
            <h2>Plastic</h2>
            <hr/>
            <p>
                NFC Enabled Plastic Card<br>
                Personalize your Digital Contact Profile<br>
                Generate QR Code<br>
                Generate Weblink for Sharing on Social Media<br>
                Generate Personalized Email Signature <br>
                Embedded with a VCF file to save your contact details<br>
                Access to MyTAG Admin Portal<br>
                Unlimited Editing<br>
                Add Multiple Social Media Links<br>
                Add Payment Provider Links<br>
                Add Attachments<br>
                Add YouTube Videos<br>
                Add Advertisement Banners<br>
                Access to Analytics <br>
                One-time Fee
            </p>
            <button routerLink="/createCard">AED 95/-</button>
        </div>
        
        <div class="card">
            <h2>Wood</h2>
            <hr/>
            <p>
                NFC Enabled Wooden Card<br>
                Personalize your Digital Contact Profile<br>
                Generate QR Code<br>
                Generate Weblink for Sharing on Social Media<br>
                Generate Personalized Email Signature <br>
                Embedded with a VCF file to save your contact details<br>
                Access to MyTAG Admin Portal<br>
                Unlimited Editing<br>
                Add Multiple Social Media Links<br>
                Add Payment Provider Links<br>
                Add Attachments<br>
                Add YouTube Videos<br>
                Add Advertisement Banners<br>
                Access to Analytics <br>
                One-time Fee
            </p>
            <button routerLink="/createCard">AED 120/-</button>
        </div>

        <div class="card">
            <h2>Plastic Personalized</h2>
            <hr/>
            <p>
                NFC Enabled Plastic Card<br>
                Personalized Card Branding on Both Sides<br>
                Personalize your Digital Contact Profile<br>
                Generate QR Code<br>
                Generate Weblink for Sharing on Social Media<br>
                Generate Personalized Email Signature <br>
                Embedded with a VCF file to save your contact details<br>
                Access to MyTAG Admin Portal<br>
                Unlimited Editing<br>
                Add Multiple Social Media Links<br>
                Add Payment Provider Links<br>
                Add Attachments<br>
                Add YouTube Videos<br>
                Add Advertisement Banners<br>
                Access to Analytics <br>
                One-time Fee
            </p>
            <button routerLink="/createCard">AED 120/-</button>
        </div>

        <div class="card">
            <h2>Wood Personalized</h2>
            <hr/>
            <p>
                NFC Enabled Wooden Card<br>
                Personalized Card Branding on Both Sides<br>
                Personalize your Digital Contact Profile<br>
                Generate QR Code<br>
                Generate Weblink for Sharing on Social Media<br>
                Generate Personalized Email Signature <br>
                Embedded with a VCF file to save your contact details<br>
                Access to MyTAG Admin Portal<br>
                Unlimited Editing<br>
                Add Multiple Social Media Links<br>
                Add Payment Provider Links<br>
                Add Attachments<br>
                Add YouTube Videos<br>
                Add Advertisement Banners<br>
                Access to Analytics <br>
                One-time Fee
            </p>
            <button routerLink="/createCard">AED 150/-</button>
        </div>
    </div>

    <div class="spacing"></div><div class="spacing"></div>
</body>