
<img class="leaf-img" src="../../assets/img/leaf.png">
<div class="holder1" id="demo-section">
    <div class="topic-area">
      <h1 class="topic-title">Demo</h1>
      <h2 class="topic-caption">Learn how to use MyTag with these videos</h2>
    </div>
  </div>

  <div class="holder">
    <div class="videos">
      <div class="vidCol1">
        <video controls class="videoPlayer player1">
          <source src="../../assets/vid/howitworks.mp4" type="video/mp4">
        </video>
      </div>
      <div class="vidCol2">
        <video  controls class="videoPlayer player2">
          <source src="../../assets/vid/howitworks.mp4" type="video/mp4">
        </video>
        <video width="500" height="250" controls class="videoPlayer player2">
          <source src="../../assets/vid/howitworks.mp4" type="video/mp4">
        </video>
      </div>
    </div>
  </div>