<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

<div class="overlay" id="overlay">
    <div class="logoContainer">
        <img src="../../assets/img/logo.jpg" alt="MyTag Logo" class="navLogo">
    </div>
  <nav class="overlay-menu">
    <ul>
        <li class="gapTop"><div class="flexBox"><a routerLink="/dashboard"><i class="fa-solid fa-table-columns" style="color: white;"></i>Dashboard</a></div></li>
        <li class="gapTop"><div class="flexBox"><a routerLink="/inventory"><i class="fa-solid fa-boxes-stacked" style="color: white;"></i>Inventory</a></div></li>
        <li><div class="flexBox"><a routerLink="/activeCards"><i class="fa-solid fa-address-card" style="color: white;"></i>Active Cards</a></div></li>
        <li><div class="flexBox"><a routerLink="/orders"><i class="fa-solid fa-store" style="color: white;"></i>Orders</a></div></li>
        <li><div class="flexBox"><i class="fa-solid fa-table-columns" style="color: white;"></i><a>Products</a></div></li>
        <li><div class="flexBox"><i class="fa-solid fa-table-columns" style="color: white;"></i><a>Templates</a></div></li>
        <li><div class="flexBox"><a routerLink="/adminSettings"><i class="fa-solid fa-gear" style="color: white;"></i>Settings</a></div></li>
        <li><div class="flexBox"><a routerLink="/"><i class="fa-solid fa-arrow-right-from-bracket" style="color: white;"></i>Log Out</a></div></li>
    </ul>
  </nav>
</div>

<div class="body">
    <div class="area" style="width: 60px;"></div>
    <app-admin-vert-navbar></app-admin-vert-navbar>
    <div class="contentArea">
        <div class="horizontalNavArea">
            <div class="hamContainer">
                <div class="button_container" id="toggle" (click)="toggleNav()"><span class="top"></span><span class="middle"></span><span class="bottom"></span></div>
                <h1 class="pageTitle">Accounts</h1> 
            </div>
            
            <div class="totalCards">
                <h3 class="mobileHide">MYTAG</h3>
                <h5>Cards: 0</h5>
            </div>
        </div>
        <div class="searchArea">
            <div class="searchLableContainer">
                <p class="lable">Set</p>
                <p class="lable">Date</p>
            </div>
            <div class="searchContainer gap">
                <select name="type" id="type" class="dateSpecifier">
                    <option value="day">This Day</option>
                    <option value="week">This Week</option>
                    <option value="month">This Month</option>
                    <option value="year">This Year</option>
                </select>
                <div class="flexBox1">
                    <input type="date" id="startDate" class="dateField">
                    <input type="date" id="endDate" class="dateField">
                </div>
            </div>
            <div class="searchLableContainer">
                <p class="lable">Account ID: </p>
                <p class="lable">User ID: </p>
            </div> 
            <div class="searchContainer gap">
                <input type="text" id="accountID" class="inputField">
                <input type="text" id="userID" class="inputField">
            </div>
            <div class="searchLableContainer">
                <p class="lable">Mobile No: </p>
                <p class="lable">Type: </p>
            </div>
            <div class="searchContainer gap">
                <input type="number" id="mobileNo" class="inputField">
                <select name="type" id="type" class="numField" style="width: 180px;">
                    <option value="individual">Individual</option>
                    <option value="teams">Teams</option>
                </select>
            </div>
            <div class="checkBoxContainer">
                <label>Active </label>
                <label>Cancelled </label>
            </div>
            <div class="checkBoxContainer">    
                <input type="checkbox" />
                <input type="checkbox" />
            </div>
            <div class="searchContainer gap">
                <input type="button" value="View" class="btnField">
                <input type="number" placeholder="" class="invisible" id="qty" disabled>
            </div>
        </div>

        <div class="tableArea">
            <table>
                <tr>
                    <th>Account ID</th>
                    <th>Reg. Date</th>
                    <th>Account Name</th>
                    <th>Type</th>
                    <th>User ID</th>
                    <th>Card Limit</th>
                    <th>Mobile No</th>
                    <th>Status</th>
                    <th>Edit/View</th>
                </tr>
                <tr *ngFor="let card of this.responseData">
                    <td>{{card.UserID}}</td>
                    <td>{{card.Reg_date}}</td>
                    <td>{{card.FirstName}}</td>
                    <td>{{card.Account_type}}</td>
                    <td>{{card.Email}}</td>
                    <td>{{card.Card_limit}}</td>
                    <td>000000000</td>
                    <td *ngIf="card.verified == '1'"><button class="statusBtn activee">Active</button></td>
                    <td *ngIf="card.verified == '0'"><button class="statusBtn cancelled">Cancelled</button></td>
                    <td><i class="fa-solid fa-pen-to-square"></i></td>
                </tr>
            </table>
        </div>
    </div>
</div>