// Imports Section
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');



// Overriding Attributes
.gap {
    gap: 10px;
}



// Body Section
* {
    font-family: 'Lato', sans-serif;
}

.body {
    width: 100%;
    height: 100vh;
    display: flex;
}



// Vertical Navigation Area
.verticalNavArea {
    border-right: 2px solid black;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;
}

.logoImg {
    width: 100%;
}

.navigationMenu {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 30px;
    gap: 15px;
}

.navBtn {
    font-weight: bold;
    font-size: 130%;
}

.navBtn:hover {
    cursor: pointer;
}



// Content Area
.contentArea {
    width: 100%;
    display: flex;
    flex-direction: column;
}



// Horizontal Navigation Area
.horizontalNavArea {
    background-color: rgb(230, 230, 230);
    border-bottom: 2px solid rgb(182, 182, 182);
    height: 13%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.pageTitle {
    margin-left: 2%;
}

.totalCards {
    margin-right: 2%;
    border: 2px solid rgb(182, 182, 182);
    height: 80px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.totalCards h5 {
    margin-top: -10px;
}



// Search Area
.searchArea {
    border-bottom: 2px solid rgb(182, 182, 182);
    height: 13%;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.searchContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15%;
}

.lableContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lable {
    min-width: 100px;
    width: 100%;
}

.dateField {
    min-width: 100px;
    height: 50%;
}

.inputField {
    height: 50%;
    min-width: 100px;
    width: 100%;
    border-radius: 50px;
    font-size: 20px;
    border: 2px solid rgb(85, 85, 85);
}

.btnField {
    background-color: rgb(85, 85, 85);
    color: white;
    border-radius: 5px;
    border: none;
    height: 50px;
    width: 200px;
    font-size: 20px;
}

.numField {
    width: 250px;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid rgb(85, 85, 85);
}



// Table Section
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

.active {
    background-color: mediumseagreen;
    color: white;
    border-radius: 10px;
}

.cancelled {
    background-color: tomato;
    color: white;
    border-radius: 10px;
}