<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="overlay" id="overlay">
  <nav class="overlay-menu">
    <ul>
      <li><a routerLink="/dashboard">Dashboard</a></li>
      <li><a routerLink="/accounts">Accounts</a></li>
      <li><a routerLink="/activeCards">Active Cards</a></li>
      <li><a routerLink="/orders">Orders</a></li>
      <li><a>Products</a></li>
      <li><a>Templates</a></li>
      <li><a routerLink="/adminSettings">Settings</a></li>
      <li><a routerLink="/">Log Out</a></li>
    </ul>
  </nav>
</div>

<div class="body">
    <div class="verticalNavArea">
        <img src="../../assets/img/logo.jpg" alt="MyTag Logo" class="logoImg">

        <div class="navigationMenu">
            <div class="navBtn" routerLink="/dashboard">Dashboard</div>
            <div class="navBtn" routerLink="/inventory">Inventory</div>
            <div class="navBtn" routerLink="/accounts">Accounts</div>
            <div class="navBtn" routerLink="/activeCards">Active Cards</div>
            <div class="navBtn" routerLink="/orders">Orders</div>
            <div class="navBtn" routerLink="/adminSettings">Settings</div>
            <div class="navBtn" routerLink="/">Log Out</div>
        </div>
    </div>
    <div class="contentArea">
        <div class="horizontalNavArea">
            <div class="button_container" id="toggle" (click)="toggleNav()"><span class="top"></span><span class="middle"></span><span class="bottom"></span>
            </div>
            <img src="../../assets/img/logo.jpg" alt="MyTag Logo" class="navLogo">
            <h1 class="pageTitle">Accounts</h1> 
            
            <div class="totalCards">
                <h3>MYTAG</h3>
                <h5>Total Cards: 0</h5>
            </div>
        </div>
        <div class="searchArea">
            <div class="searchContainer">
                <div class="lableContainer">
                    <p class="lable">Start Date: </p>
                    <input type="date" id="startDate" name="Start Date" class="dateField">
                </div>
                <div class="lableContainer">
                    <p class="lable">End Date: </p>
                    <input type="date" id="endDate" name="End Date" class="dateField">
                </div>
            </div>
            
            <div class="searchContainer">
                <div class="lableContainer">
                    <p class="lable">Account ID: </p>
                    <input type="text" id="accountID" class="inputField">
                </div>
                <div class="lableContainer">
                    <p class="lable">User ID: </p>
                    <input type="text" id="userID" class="inputField">
                </div>
            </div>

            <div class="searchContainer">
                <div class="lableContainer">
                    <p class="lable">Mobile No: </p>
                    <input type="number" id="mobileNo" class="inputField">
                </div>
                <div class="lableContainer">
                    <p class="lable">Type: </p>
                    <select name="type" id="type" class="numField">
                        <option value="individual">Individual</option>
                        <option value="teams">Teams</option>
                    </select>
                </div>
            </div>

            <div class="searchContainer">
                <div class="lableContainer">
                    <input type="checkbox" id="active" class="checkField">
                    <p class="lable">Active</p>
                </div>
                <div class="lableContainer">
                    <input type="checkbox" id="cancelled" class="checkField">
                    <p class="lable">Cancelled</p>
                </div>
            </div>

            <div class="searchContainer gap">
                <input type="button" value="View" class="btnField">
                <input type="button" value="Create Account" class="btnField">
            </div>
        </div>

        <div class="tableArea">
            <table>
                <tr>
                    <th>Account ID</th>
                    <th>Reg. Date</th>
                    <th>Account Name</th>
                    <th>Type</th>
                    <th>User ID</th>
                    <th>Card Limit</th>
                    <th>Mobile No</th>
                    <th>Status</th>
                    <th>Edit/View</th>
                </tr>
                <tr *ngFor="let card of this.responseData">
                    <td>{{card.UserID}}</td>
                    <td>{{card.Reg_date}}</td>
                    <td>{{card.FirstName}}</td>
                    <td>{{card.Account_type}}</td>
                    <td>{{card.Email}}</td>
                    <td>{{card.Card_limit}}</td>
                    <td>000000000</td>
                    <td class="activee" *ngIf="card.verified == '1'">Active</td>
                    <td class="cancelled" *ngIf="card.verified == '0'">Cancelled</td>
                    <td><i class="fa fa-pencil-square-o"></i></td>
                </tr>
            </table>
        </div>
    </div>
</div>