<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

<div class="overlay" id="overlay">
    <div class="logoContainer">
        <img src="../../assets/img/logo.jpg" alt="MyTag Logo" class="navLogo">
    </div>
        <nav class="overlay-menu">
            <ul>
                <li class="gapTop"><div class="flexBox"><i class="fa-solid fa-table-columns" style="color: white;"></i><a routerLink="/dashboard">Dashboard</a></div></li>
                <li class="gapTop"><div class="flexBox"><i class="fa-solid fa-boxes-stacked" style="color: white;"></i><a routerLink="/inventory">Inventory</a></div></li>
                <li><div class="flexBox"><i class="fa-solid fa-users" style="color: white;"></i><a routerLink="/accounts">Accounts</a></div></li>
                <li><div class="flexBox"><i class="fa-solid fa-table-columns" style="color: white;"></i><a>Products</a></div></li>
                <li><div class="flexBox"><i class="fa-solid fa-table-columns" style="color: white;"></i><a>Templates</a></div></li>
                <li><div class="flexBox"><i class="fa-solid fa-gear" style="color: white;"></i><a routerLink="/adminSettings">Settings</a></div></li>
                <li><div class="flexBox"><i class="fa-solid fa-arrow-right-from-bracket" style="color: white;"></i><a routerLink="/">Log Out</a></div></li>
            </ul>
        </nav>
</div>

<div class="formOverlay">
    <div class="formContainer">
        <form #addOrderForm="ngForm" (ngSubmit)="addOrder(addOrderForm.value)">
            <input type="number" required name="CardID" ngModel placeholder="Card ID">
            <input type="text" required name="Country" ngModel placeholder="Country">
            <input type="text" required name="Type" ngModel placeholder="Type">
            <input type="number" required name="AccountID" ngModel placeholder="Account ID">
            <input type="text" required name="FullName" ngModel placeholder="Full Name">
            <input type="text" required name="UserID" ngModel placeholder="User ID">
            <input type="number" required name="MobileNo" ngModel placeholder="Mobile Number">
            <input type="text" required name="Product" ngModel placeholder="Product">
            <input type="number" required name="Qty" ngModel placeholder="Quantity">

            <div class="btnContainer">
                <input type="button" value="Cancel" (click)="closeForm()" class="formBtn secondary">
                <input type="submit" class="formBtn primary">
            </div>
        </form>
    </div>
</div>
  
<div class="body">
    <app-admin-vert-navbar></app-admin-vert-navbar>
    <div class="contentArea">
        <div class="horizontalNavArea">
            <div class="button_container" id="toggle" (click)="toggleNav()"><span class="top"></span><span class="middle"></span><span class="bottom"></span></div>
            <h1 class="pageTitle">Orders</h1> 
            
            <div class="totalCards">
                <h3 class="mobileHide">MYTAG</h3>
                <h5>Cards: 0</h5>
            </div>
        </div>
        <div class="searchArea">
            <div class="searchContainer">
                <p class="lable bold">Set</p>
                <p class="lable bold">Date</p>
            </div>
            <div class="searchContainer gap">
                <select name="type" id="type" class="dateSpecifier">
                    <option value="day">This Day</option>
                    <option value="week">This Week</option>
                    <option value="month">This Month</option>
                    <option value="year">This Year</option>
                </select>
                <div class="flexBox">
                    <input type="date" id="startDate" class="dateField">
                    <input type="date" id="endDate" class="dateField">
                </div>
            </div>
            <div class="searchContainer">
                <p class="lable">Account ID: </p>
                <p class="lable">User ID: </p>
            </div> 
            <div class="searchContainer gap">
                <input type="text" id="accountID" class="inputField">
                <input type="text" id="userID" class="inputField">
            </div>
            <div class="searchContainer">
                <p class="lable">Mobile No: </p>
                <p class="lable">Type: </p>
            </div>
            <div class="searchContainer gap">
                <input type="number" id="mobileNo" class="inputField">
                <select name="type" id="type" class="numField" style="width: 180px;">
                    <option value="all">All</option>
                    <option value="complete">Complete</option>
                    <option value="active">Active</option>
                    <option value="pending">Cancelled</option>
                    <option value="cancelled">Pending</option>
                </select>
            </div>
            <div class="searchContainer">
                <p class="lable">Active<br><br>Cancelled<br><br>Pending<br><br>Complete</p>
            </div>
            <div class="searchContainer gap">
                <input type="checkbox" id="active" class="checkField">
                <input type="checkbox" id="cancelled" class="checkField">
                <input type="checkbox" id="pending" class="checkField">
                <input type="checkbox" id="complete" class="checkField">
            </div>
            <div class="searchContainer gap">
                <input type="button" value="View" class="btnField">
                <input type="button" value="Add" class="btnField" (click)="openForm()">
            </div>
        </div>

        <div class="tableArea">
            <table>
                <tr>
                    <th>Card ID</th>
                    <th>Date</th>
                    <th>Country</th>
                    <th>Type</th>
                    <th>Account ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Used ID</th>
                    <th>Mobile No</th>
                    <th>Product ID</th>
                    <th>Product</th>
                    <th>Qty</th>
                    <th>Amouont</th>
                    <th>Status</th>
                    <th>View</th>
                </tr>
                <tr *ngFor="let dataLine of dataSet">
                    <td>{{dataLine.CardID}}</td>
                    <td>{{dataLine.Date}}</td>
                    <td>{{dataLine.Country}}</td>
                    <td>{{dataLine.CardID}}</td>
                    <td>{{dataLine.CardID}}</td>
                    <td>{{dataLine.CardID}}</td>
                    <td>{{dataLine.CardID}}</td>
                    <td>{{dataLine.CardID}}</td>
                    <td>{{dataLine.CardID}}</td>
                    <td>{{dataLine.CardID}}</td>
                    <td>{{dataLine.CardID}}</td>
                    <td>{{dataLine.CardID}}</td>
                    <td>AED {{dataLine.CardID}}</td>
                    <td class="pending">Pending</td>
                    <td><i class="fa fa-eye"></i></td>
                </tr>
            </table>
        </div>
    </div>
</div>