// Decleration Section
$primaryColor: #f35a57;
$primaryAccentColor: #d14b49;
$backgroundColor: #353535;
$backgroundAccentColor: #646464;
$foregroundColor: white;



// Imports Section




// Overriding Attributes
.gap {
    gap: 10px;
}

.hidden {
    display: none;
}

.bold {
    font-weight: bold;
}

.searchLableContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    min-width: 80px;
    width: 20px;
}

.checkBoxContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-left: 10px;
}

.invisible {
    width: 90px;
    height: 40px;
    min-height: 30px;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid transparent;
    background-color: transparent;
    color: transparent;
}

.flexBox1 {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 12px;
}



// Body Section
* {
    font-family: SourceSansProRegular, sans-serif;
}@font-face {
    font-family: SourceSansProRegular;
    src: url("../../assets/fonts/SourceSansPro-Regular.ttf");
  }

.body {
    width: 100%;
    height: calc(100vh - 2px);
    display: flex;
    border-bottom: 2px solid black;
}



// Content Area
.contentArea {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
}



// Horizontal Navigation Area
.horizontalNavArea {
    background-color: #f5f5f5;
    border-bottom: 2px solid rgb(182, 182, 182);
    height: 80px;
    min-height: 80px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.pageTitle {
    margin-left: 10%;
}

.totalCards {
    margin-right: 2%;
    border: 2px solid rgb(182, 182, 182);
    height: 60px;
    width: 100px;
    display: flex;
    flex-direction: column;
}

.totalCards h3 {
    margin-top: 10px;
    margin-left: 10px;
}

.totalCards h5 {
    margin-top: -20px;
    margin-left: 10px;
}

.hamContainer {
    display: flex;
    width: 100%;
}




// Search Area
.searchArea {
    border-bottom: 2px solid rgb(182, 182, 182);
    height: 120px;
    min-height: 120px;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    scrollbar-width: 5px;
}

.searchContainer {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lableContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lable {
    min-width: 50px;
    width: 100%;
    font-size: 11pt;
    font-weight: lighter;
    margin-left: 10px;
}

.dateField {
    min-width: 100px;
    height: 30px;
}

.inputField {
    height: 30px;
    width: 180px;
    font-size: 20px;
    border: 2px solid #3d3d3d;
}

.dateSpecifier {
    height: 30px;
    width: 240px;
    font-size: 11pt;
    border: 2px solid #3d3d3d;
}

.btnField {
    background-color: #3d3d3d;
    color: white;
    border-radius: 5px;
    border: none;
    height: 40px;
    min-height: 40px;
    width: 100px;
    font-size: 20px;
    transition: 0.3s;
}

.btnField:hover {
    cursor: pointer;
    background-color: rgb(117, 117, 117);
    transition: 0.3s;
}

.numField {
    width: 90px;
    height: 40px;
    min-height: 30px;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid #3d3d3d;
}



// Table Section
.tableArea {
    height: 100%;
    overflow-y: scroll;
}table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;padding-top:10px;padding-bottom:10px;
}
  
table, td, th
{
border-right: 1px solid #fff;
border-collapse: collapse;
}

.complete {
    background-color: #13c67d;
    color: white;
    border-radius: 10px;
}

.activee {
    background-color: #03a9f5;
    color: white;
    border-radius: 10px;
}

.cancelled {
    background-color: #f34134;
    color: white;
    border-radius: 10px;
}

.pending {
    background-color: #e4c009;
    color: white;
    border-radius: 10px;
}

.overlay {
    display: none;
}

.navLogo {
    display: none;
}



// Order Input Form
.formOverlay {
    width: 100%;
    height: 100vh;
    position: absolute;
}

.formContainer {
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0.2px 0.2px 5px 0.2px gray;
    min-width: 300px;
    min-height: 700px;
    max-width: 300px;
    max-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formContainer form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.formContainer form input {
    border-radius: 5px;
    border: 2px gray solid;
    font-size: 20px;
}

.btnContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.formBtn {
    width: 120px;
    height: 40px;
}

.primary {
    background-color:#353535;
    color: white;
    border: none;
}



// Mobile View Section
@media only screen and (max-width: 600px) {
    .logoContainer {
        display: flex;
        justify-content: flex-end;
        margin: 25px;
    }

    .mobileHide {
        display: none;
    }

    .navLogo {
        display: block;
        width: 60px;
    }

    .totalCards {
        width: 20%;
        height: 50%;
        justify-content: flex-end;
    }

    .gapRight {
        margin-right: 10px;
    }

    .pageTitle {
        font-size: 20px;
    }

    .overlay {
        display: block;
    }

    .verticalNavArea {
        display: none;
    }

    .searchArea {
        overflow-x: scroll;
    }

    .tableArea {
        overflow-x: scroll;
    }

    .overlay-menu {
        display: block;
        margin-top: -100px;
    }

    .button_container {
        top: 5%;
        right: 2%;
        height: 27px;
        width: 35px;
        cursor: pointer;
        z-index: 100;
        transition: opacity 0.25s ease;
   }
    .button_container:hover {
        opacity: 0.7;
   }
    .button_container.active .top {
        transform: translateY(11px) translateX(0) rotate(45deg);
        background: #fff;
   }
    .button_container.active .middle {
        opacity: 0;
        background: #fff;
   }
    .button_container.active .bottom {
        transform: translateY(-11px) translateX(0) rotate(-45deg);
        background: #fff;
   }
    .button_container span {
        background: $backgroundAccentColor;
        border: none;
        height: 5px;
        width: 10%;
        position: absolute;
        top: 0;
        margin: 28px 20px 0px 10px;
        transition: all 0.35s ease;
        cursor: pointer;
   }
    .button_container span:nth-of-type(2) {
        top: 11px;
   }
    .button_container span:nth-of-type(3) {
        top: 22px;
   }
    .overlay {
        position: fixed;
        background: $backgroundAccentColor;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.35s, visibility 0.35s, width 0.35s;
        overflow: hidden;
   }
    .overlay.open {
        opacity: 0.9;
        visibility: visible;
        width: 100%;
   }
    .overlay.open li {
        animation: fadeInRight 0.5s ease forwards;
        animation-delay: 0.35s;
   }
    .overlay.open li:nth-of-type(2) {
        animation-delay: 0.4s;
   }
    .overlay.open li:nth-of-type(3) {
        animation-delay: 0.45s;
   }
    .overlay.open li:nth-of-type(4) {
        animation-delay: 0.5s;
   }
    .overlay nav {
        position: relative;
        height: 40%;
        top: 20%;
        transform: translateY(-20%);
        font-size: 25px;
        font-weight: 400;
        text-align: center;
        font-family: 'Lato', sans-serif;
   }
    .overlay ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        display: inline-block;
        position: relative;
        height: 100%;
   }
    .overlay ul li {
        display: block;
        height: 25%;
        height: calc(100% / 4);
        min-height: 50px;
        position: relative;
        opacity: 0;
   }
    .overlay ul li a {
        display: block;
        position: relative;
        color: #fff;
        text-decoration: none;
        overflow: hidden;
   }
    .overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
        width: 100%;
   }
    .overlay ul li a:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0%;
        transform: translateX(-50%);
        height: 3px;
        background: #fff;
        transition: 0.35s;
   }
    @keyframes fadeInRight {
        0% {
            opacity: 0;
            left: 20%;
       }
        100% {
            opacity: 1;
            left: 0;
       }
   }
}