<!-- Import for FontAwesome icons. -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

<!-- Overlay for notification box. -->
<div class="notificationOverlay hidden" id="notificationOverlay">
    <div class="rectangle">
        <div class="notification-text">
            <i class="fa-solid fa-circle-info"></i>
            <span id="notifText">&nbsp;&nbsp;This is a test notification.</span>
        </div>
    </div>
</div>

<!-- Code for the main body. -->
<body>
    <div class="center">
        <h1 class="title">Admin Control Panel</h1>
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
            <div class="txt_field">
                <input type="email" required name="Email" ngModel>
                <label>Email</label>
            </div>
            <div class="txt_field">
                <input type="text" required name="Username" ngModel>
                <label>Username</label>
            </div>
            <div class="txt_field">
                <input type="password" required name="Password" (keyup.enter)="loginClick()" ngModel>
                <label>Password</label>
            </div>
            <div class="pass" routerLink="/resetPassword">Forgot Password?</div>
            <input type="submit" value="Login" id="loginBtn">
            <div class="signup_link" routerLink="/signup">New to MyTAG? Signup</div>
        </form>
    </div>
</body>