<!-- Import for FontAwesome icons. -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

<!-- Overlay for preloader. -->
<div class="cs-loader" *ngIf="isPreLoading">
    <div class="cs-loader-inner">
      <label>●</label>
      <label>●</label>
      <label>●</label>
      <label>●</label>
      <label>●</label>
      <label>●</label>
    </div>
</div>

<!-- Code for the main body including card begins here. -->
<div class="body">
    <div class="cardArea">
        <div class="card">
            <div class="upperCard" id="upperCard">
                <div class="container cardNavArea">
                    <img class="logo" id="logo" [src]="logoUrl">
                </div>
            </div>
            
            <div class="container cardHeadArea" id="cardHead">
                <img class="profilePic" id="profilePic" [src]="imageUrl">

                <div class="nameDetailsPnl" id="nameDetailsPnl">
                    <h3 class="nameField">{{data.Name}}</h3>
                    <p class="designationField">{{data.Job_title}}</p>
                    <p class="companyField">{{data.Company_name}}</p>
                </div>
            </div>
            
            <div class="container shareArea" id="shareArea">
                <input type="button" value="Save Contact" class="secondaryBtn">
                <input type="button" value="Exchange Contact" class="primaryBtn">
            </div>

            <div class="container descArea">
                <p class="descField" id="descArea">{{data.Headline}}</p>
            </div>

            <div class="width95" id="socialDetailSection">
                <div class="editBtnArea" id="editBtnArea">
                    <p class="sectionHeading">Social Networks</p>
                </div>

                <div class="socialIcons">
                    <i class="fa-brands fa-twitter" *ngIf="data.Twitter != ''" (click)="redirectSocial('Twitter')"></i>
                    <i class="fa-brands fa-instagram" *ngIf="data.Instagram != ''" (click)="redirectSocial('Instagram')"></i>
                    <i class="fa-brands fa-linkedin" *ngIf="data.Linkedin != ''" (click)="redirectSocial('Linkedin')"></i>
                    <i class="fa-brands fa-facebook" *ngIf="data.Facebook != ''" (click)="redirectSocial('Facebook')"></i>
                    <i class="fa-brands fa-youtube" *ngIf="data.Youtube != ''" (click)="redirectSocial('Youtube')"></i>
                    <i class="fa-brands fa-snapchat" *ngIf="data.Snapchat != ''" (click)="redirectSocial('Snapchat')"></i>
                    <i class="fa-brands fa-tiktok" *ngIf="data.Tiktok != ''" (click)="redirectSocial('Tiktok')"></i>
                    <i class="fa-brands fa-twitch" *ngIf="data.Twitch != ''" (click)="redirectSocial('Twitch')"></i>
                    <i class="fa-brands fa-yelp" *ngIf="data.Yelp != ''" (click)="redirectSocial('Yelp')"></i>
                    <i class="fa-brands fa-discord" *ngIf="data.Discord != ''" (click)="redirectSocial('Discord')"></i>
                    <i class="fa-brands fa-whatsapp" *ngIf="data.Whatsapp != ''" (click)="redirectSocial('Whatsapp')"></i>
                    <i class="fa-brands fa-skype" *ngIf="data.Skype != ''" (click)="redirectSocial('Skype')"></i>
                    <i class="fa-brands fa-telegram" *ngIf="data.Telegram != ''" (click)="redirectSocial('Telegram')"></i>
                </div>
            </div>

            <div id="basicContactSection" class="width95">

                <div class="editBtnArea" id="editBtnArea">
                    <p class="sectionHeading">Contact Info</p>
                </div>

                <div class="container basicContactArea" id="basicContactArea" *ngFor="let number of contactNums">
                    <div class="cardInfoCont" *ngIf="contactNums[0] != ''">
                        <i class="fa-solid fa-phone"></i>
                        <p class="intel">{{number}}</p>
                    </div>
                </div> 
    
                <div class="container basicContactArea" id="basicContactArea" *ngFor="let email of emails">
                    <div class="cardInfoCont" *ngIf="emails[0] != ''">
                        <i class="fa-solid fa-envelope"></i>
                        <p class="intel">{{email}}</p>
                    </div>
                </div> 
    
                <div class="container basicContactArea" id="basicContactArea" *ngFor="let website of websites">
                    <div class="cardInfoCont" *ngIf="websites[0] != ''">
                        <i class="fa-solid fa-globe"></i>
                        <p class="intel">{{website}}</p>
                    </div>
                </div> 
    
                <div class="container basicContactArea" id="basicContactArea" *ngFor="let address of addresses">
                    <div class="cardInfoCont" *ngIf="addresses[0] != ''">
                        <i class="fa-solid fa-map"></i>
                        <p class="intel">{{address}}</p>
                    </div>
                </div> 
            </div>

            <div class="" id="imageArea" *ngIf="UrlExists(imagesToShow[0])">
                <div class="editBtnArea" id="editBtnArea">
                    <p class="sectionHeading">Images</p>
                </div>

                <div class="container flexColumn" *ngFor="let image of imagesToShow">
                    <img [src]="image" style="border-radius: 10px; width: 360px; height: auto;">
                </div>
            </div>

            <div class="" id="videoArea">
                <div class="editBtnArea" id="editBtnArea">
                    <p class="sectionHeading">Videos</p>
                </div>

                <div *ngIf="finalLinks[0].length > 0">
                    <div class="container flexColumn" *ngFor="let link of finalLinks">
                        <iframe width="360px" height="200" controls style="border-radius: 15px;" [src]="getSafeUrl(link)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <div class="" id="linksArea">
                <div class="editBtnArea" id="editBtnArea">
                    <p class="sectionHeading">Links</p>
                </div>
                <div *ngFor="let link of activeLinks">
                    <div class="container basicContactArea">
                        <div class="cardInfoCont">
                            <img [src]="link.link_logo" style="height: 30px; width: 30px;">
                            <p class="intel" (click)="openLink(link.link)">{{link.link_title}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="editFooter" style="margin-left: 0px;">
                <div class="footerText">
                    <h5>MYTAG</h5>
                    <h6>SMART BUSINESS CARD</h6>
                </div>
                <button class="footerButton">Get Your Card</button>
            </div>
        </div>
        <br>
        <br>
    </div>
</div>