<body>
    <div class="spacing"></div>

    <div class="center">
        <h1 class="title">Login</h1>
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
            <div class="txt_field">
                <input type="text" required name="Email" ngModel>
                <label>Email</label>
            </div>
            <div class="txt_field">
                <input type="password" required name="Password" ngModel>
                <label>Password</label>
            </div>
            <div class="pass" routerLink="/resetPassword">Forgot Password?</div>
            <input type="submit" value="Login">
            <div class="signup_link" routerLink="/signup">New to MyTAG? Signup</div>
        </form>
    </div>
</body>