<div class="verticalNav">
    <div class="verticalNavButtons">
        <button routerLink="/adminDashboard" class="verticalNavBtn">All Cards</button>
        <button routerLink="/allUsers" class="verticalNavBtn">All Users</button>
        <button class="verticalNavBtn">Email Signature</button>
        <button class="verticalNavBtn">Analytics</button>
        <button routerLink="/adminSettings" class="verticalNavBtn">Settings</button>
        <button routerLink="/" class="verticalNavBtn">Log Out</button>
    </div>
</div>