// Vertical Navigation Area
.verticalNavArea {
    border-right: 2px solid black;
    display: flex;
    flex-direction: column;
    width: 300px;
    min-width: 300px;
    height: 100%;
}

.logoImg {
    width: 100%;
}

.navigationMenu {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 30px;
    gap: 15px;
}

.navBtn {
    font-size: 130%;
}

.navBtn:hover {
    cursor: pointer;
}

.flexBox {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media only screen and (max-width: 600px) {
    .verticalNavArea {
        display: none;
    }
}