// Vertical Navigation Area
.verticalNavArea {
    border-right: 2px solid black;
    display: flex;
    flex-direction: column;
    width: 225px;
    min-width: 225px;
    height: 100%;
}

.logoImg {
    width: 100%;
}

.navigationMenu {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 30px;
    gap: 30px;
    justify-content: space-between;
    height: 100%;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.navBtn {
    font-size: 14pt;
    font-weight: bold;
}

.navBtn:hover {
    cursor: pointer;
}

.flexBox {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dateArea {
    font-size: 12pt;
}

@media only screen and (max-width: 600px) {
    .verticalNavArea {
        display: none;
    }
}