<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

<nav class="main-menu">
    <ul>
        <li>
            <a>
                <img src="../../assets/img/logo.jpg" alt="MyTag Logo" class="logoImg">
                <span class="nav-text" style="font-size: 20px; padding-left: 20px;">
                    MYTAG
                </span>
            </a>
        </li>
        <li class="item">
            <a routerLink="/dashboard">
                <i class="fa fa-solid fa-table-columns fa-2x"></i>
                <span class="nav-text">
                    Dashboard
                </span>
            </a>
          
        </li>
        <li class="item">
            <a routerLink="/inventory">
                <i class="fa fa-solid fa-boxes-stacked fa-2x"></i>
                <span class="nav-text">
                    Inventory
                </span>
            </a>
            
        </li>
        <li class="item">
            <a routerLink="/accounts">
               <i class="fa fa-solid fa-users fa-2x"></i>
                <span class="nav-text">
                    Accounts
                </span>
            </a>
            
        </li>
        <li class="item">
            <a routerLink="/activeCards">
               <i class="fa fa-solid fa-address-card fa-2x"></i>
                <span class="nav-text">
                    Active Cards
                </span>
            </a>
           
        </li>
        <li class="item">
            <a routerLink="/orders">
                <i class="fa fa-solid fa-store fa-2x"></i>
                <span class="nav-text">
                    Orders
                </span>
            </a>
        </li>
        <li class="item">
            <a href="#">
                <i class="fa fa-solid fa-gem fa-2x"></i>
                <span class="nav-text">
                   Products
                </span>
            </a>
        </li>
        <li class="item">
           <a href="#">
               <i class="fa fa-solid fa-database fa-2x"></i>
                <span class="nav-text">
                    Templates
                </span>
            </a>
        </li>
        <li class="item">
           <a routerLink="/adminSettings">
                <i class="fa fa-solid fa-gear fa-2x"></i>
                <span class="nav-text">
                    Settings
                </span>
            </a>
        </li>
        <li class="item">
            <a routerLink="/">
               <i class="fa fa-solid fa-arrow-right-from-bracket fa-2x"></i>
                <span class="nav-text">
                    Log Out
                </span>
            </a>
        </li>
    </ul>

    <!-- <ul class="logout">
        <li>
           <a href="#">
                 <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                    Logout
                </span>
            </a>
        </li>  
    </ul> -->
</nav>

<!-- <div class="verticalNavArea">
    <img src="../../assets/img/logo.jpg" alt="MyTag Logo" class="logoImg">

    <div class="navigationMenu">
        <div class="buttons">
            <div class="flexBox"><i class="fa-solid fa-table-columns"></i><div class="navBtn" routerLink="/dashboard">Dashboard</div></div>
            <div class="flexBox"><i class="fa-solid fa-boxes-stacked"></i><div class="navBtn" routerLink="/inventory">Inventory</div></div>
            <div class="flexBox"><i class="fa-solid fa-users"></i><div class="navBtn" routerLink="/accounts">Accounts</div></div>
            <div class="flexBox"><i class="fa-solid fa-address-card"></i><div class="navBtn" routerLink="/activeCards">Active Cards</div></div>
            <div class="flexBox"><i class="fa-solid fa-store"></i><div class="navBtn" routerLink="/orders">Orders</div></div>
            <div class="flexBox"><i class="fa-solid fa-gem"></i><div class="navBtn" routerLink="/products">Products</div></div>
            <div class="flexBox"><i class="fa-solid fa-database"></i><div class="navBtn" routerLink="/templates">Templates</div></div>
            <div class="flexBox"><i class="fa-solid fa-gear"></i><div class="navBtn" routerLink="/adminSettings">Settings</div></div>
            <div class="flexBox"><i class="fa-solid fa-arrow-right-from-bracket"></i><div class="navBtn" routerLink="/">Log Out</div></div>
        </div>

        <div class="dateArea"><p id="dateField">00 Jan 0000</p></div>
    </div>
</div> -->