@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

.navbar {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 20px;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 100;
    display: flex;
}

.logo {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-decoration: none;
    color: #7F00FF;
    font-size: 30px;
    margin-left: 200px;
}

.accountStatus {
    background-color: #7F00FF;
    padding: 5px 40px;
    border-radius: 5px;
}

.userName {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.cardLimit {
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin-top: -10px;
}