<div class="body">
  <img class="leaf-img" src="../../assets/img/whiteleaf.png">
  <div class="holder1" id="pricing-section">
    <div class="topic-area">
      <h1 class="topic-title">Pricing</h1>
      <h2 class="topic-caption">Pick what suits you best! </h2>
    </div>
  </div>

  <div class="holder main-content-section">
    <div class="pricingOptions">
      <div class="pricePanel">
        <div class="container">
          <h1 class="pricingTitle">PERSONAL</h1>
          <p class="pricingDesc">Individual Email ID and Password is required to manage each business card. You will get an individual admin portal for each MyTAG card.</p>
          <button routerLink="/login" class="pricingBtn">I need a card for myself ⮞</button>
        </div>
      </div>
      <div class="pricePanel">
        <div class="container">
          <h1 class="pricingTitle">TEAMS</h1>
          <p class="pricingDesc">One common Email ID and Password is required to manage all cards in a business. You can administer all business cards from the MyTAG team admin portal.</p>
          <button class="pricingBtn">I need cards for my team ⮞</button>
        </div>
      </div>
    </div>
    <div class="spacing"></div>
  </div>
</div>