<app-header></app-header>

<div class="spacing" id="home-section"></div>

<section class="home-section">
  <section class="holder">
    <section class="main-content-section">
      <div class="hero-info-pnl">
        <h1 class="hero-caption">Breaking Through With Digital Business Cards</h1>
        <h2 class="hero-desc">Make the move and benifit from unexpected opportunities for your networking. Share your contact details via NFC Card, QR code, or Web Link. MyTAG
          offers you the best all-in-one solution for your business.
        </h2>
        <div class="app-down-section">
          <a href="#"><img src="../assets/img/ps.png" class="downimg"></a>
          <a href="#"><img src="../assets/img/as.png" class="downimg"></a>
        </div>
      </div>
      <div class="hero-img-pnl">
        <img class="demoimg" src="../assets/img/demoimg.png">
      </div>
    </section>
  </section>

  <section class="holder1" id="demo-section">
    <div class="topic-area">
      <h1 class="topic-title">Demo</h1>
      <h2 class="topic-caption">Learn more on how to use MyTAG </h2>
    </div>
  </section>

  <section class="holder">
    <div class="vidHolder">
      <video width="1000" height="500" controls class="videoPlayer">
        <source src="../../assets/vid/howitworks.mp4" type="video/mp4">
      </video>
    </div>
  </section>

  <section class="holder1" id="features-section">
    <div class="topic-area">
      <h1 class="topic-title">Features</h1>
    </div>
  </section>

  <section class="holder1" id="features-section">
    <section class="main-content-section">
      <div class="hero-img-pnl">
        <img class="demoimg" src="../assets/img/networkimg.png">
      </div>
      <div class="hero-info-pnl">
        <h1 class="hero-caption">Network Smarter With Digital Business Cards</h1>
        <h2 class="hero-desc">Be honest - most paper business cards are gathering dust in the office drawers around the world. Be a pioneer in digital networking and offer your 
          customers the best way to network directly with you. You'll save paper and protect the environment at the same time - it doesn't get more sustainable than that.
        </h2>
        <div class="app-down-section">
        </div>
      </div>
    </section>
  </section>

  <section class="holder">
    <section class="main-content-section">
      <div class="hero-info-pnl">
        <h1 class="hero-caption">NFC Card - The Practical Gadget For On The Go</h1>
        <h2 class="hero-desc">No more hassle of unlocking your phone to share your contact information. The durable NFC cards in credit
          card format prove to be especially practical for real-life events such as trade fairs or customer appointments. Just tap MyTAG
          Card on any NFC-compatible smartphone to display your contact profile.
        </h2>
        <div class="app-down-section">
        </div>
      </div>
      <div class="hero-img-pnl">
        <img class="demoimg" src="../assets/img/nftimg.png">
      </div>
    </section>
  </section>

  <section class="holder1">
    <section class="main-content-section">
      <div class="hero-img-pnl">
        <img class="demoimg" src="../assets/img/reachimg.png">
      </div>
      <div class="hero-info-pnl">
        <h1 class="hero-caption">Your Business Card Always In Reach</h1>
        <h2 class="hero-desc">Lost, forgotten, crumpled - with MyTAG these problems are behind you. Every member of your team gets a public contact profile which can be accessed 
          via a unique link. Share the link using QR code in online meetings, in signatures, or with your smartphone at real-life events. Neither you nor your customers need an app.
        </h2>
        <div class="app-down-section">
        </div>
      </div>
    </section>
  </section>

  <section class="holder">
    <section class="main-content-section">
      <div class="hero-info-pnl">
        <h1 class="hero-caption">Save Contact Information With One Click</h1>
        <h2 class="hero-desc">Save your customer the trouble of typing contact data. Allow saving your data directly on the phone with just one click (via VCF file).</h2>
        <div class="app-down-section">
        </div>
      </div>
      <div class="hero-img-pnl">
        <img class="demoimg" src="../assets/img/onetouchimg.png">
      </div>
    </section>
  </section>

  <section class="holder1">
    <section class="main-content-section">
      <div class="hero-img-pnl">
        <img class="demoimg" src="../assets/img/teamimg.png">
      </div>
      <div class="hero-info-pnl">
        <h1 class="hero-caption">Digital Business Card For Your Whole Team</h1>
        <h2 class="hero-desc">Thanks to central administration and role management, you can centrally manage the digital cards of your employees. Customize your digital profiles 
          with your logo and corporate design colors.
        </h2>
        <div class="app-down-section">
        </div>
      </div>
    </section>
  </section>

  <section class="holder">
    <section class="main-content-section">
      <div class="hero-info-pnl">
        <h1 class="hero-caption">Share What You Like</h1>
        <h2 class="hero-desc">With your digital business card, your customer can capture your social media profiles all at once. Whether LinkedIn, YouTube or Instagram - with MyTAG 
          it's easy for your customer to connect with you.
          <br>
          Neither you nor your customers need to install an app, to save your card. The solution is compatible with iOS and Android devices.</h2>
        <div class="app-down-section">
        </div>
      </div>
      <div class="hero-img-pnl">
        <img class="demoimg" src="../assets/img/shareimg.png">
      </div>
    </section>
  </section>

  <section class="holder1" id="pricing-section">
    <div class="topic-area">
      <h1 class="topic-title">Pricing</h1>
      <h2 class="topic-caption">Pick what suits you best! </h2>
    </div>
  </section>

  <section class="holder main-content-section">
    <div class="pricingOptions">
      <div class="pricePanel">
        <h1 class="pricingTitle">PERSONAL</h1>
        <p class="pricingDesc">Individual Email ID and Password is required to manage each business card. You will get an individual admin portal for each MyTAG card.</p>
        <button class="pricingBtn">I need a card for myself ⮞</button>
      </div>
      <div class="pricePanel secondPanel">
        <h1 class="pricingTitle">TEAMS</h1>
        <p class="pricingDesc">One common Email ID and Password is required to manage all cards in a business. You can administer all business cards from the MyTAG team admin portal.</p>
        <button class="pricingBtn">I need cards for my team ⮞</button>
      </div>
    </div>
  </section>
</section>
