// Decleration Section
$primaryColor: #f35a57;
$primaryAccentColor: #d14b49;
$backgroundColor: #353535;
$backgroundAccentColor: #646464;
$foregroundColor: white;



// Imports Section
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@100;300;400;500;700;900&display=swap');



// Overriding Attributes
.gap {
    gap: 10px;
}

.gapRight {
    margin-right: 10px;
}



// Body Section
* {
    font-family: 'Montserrat', sans-serif;
}

.body {
    width: 100%;
    height: 100vh;
    display: flex;
}



// Content Area
.contentArea {
    width: 100%;
    display: flex;
    flex-direction: column;
}



// Horizontal Navigation Area
.horizontalNavArea {
    background-color: rgb(230, 230, 230);
    border-bottom: 2px solid rgb(182, 182, 182);
    height: 100px;
    min-height: 100px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.pageTitle {
    margin-left: 2%;
}

.totalCards {
    margin-right: 2%;
    border: 2px solid rgb(182, 182, 182);
    height: 80px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.totalCards h5 {
    margin-top: -10px;
}



// Search Area
.searchArea {
    border-bottom: 2px solid rgb(182, 182, 182);
    height: 120px;
    min-height: 120px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.searchContainer {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.lableContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lable {
    min-width: 100px;
    width: 100%;
}

.dateField {
    min-width: 100px;
    height: 50%;
}

.inputField {
    height: 50%;
    min-width: 100px;
    width: 100%;
    border-radius: 50px;
    font-size: 20px;
    border: 2px solid rgb(85, 85, 85);
}

.btnField {
    background-color: rgb(85, 85, 85);
    color: white;
    border-radius: 5px;
    border: none;
    height: 50px;
    width: 200px;
    font-size: 20px;
}

.numField {
    width: 250px;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid rgb(85, 85, 85);
}



// Table Section
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .4s;
    background-color: #ccc;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #13c67d;
}

input:focus + .slider {
    box-shadow: 0 0 1px #13c67d;
}

input:checked + .slider:before {
    transform: translateX(13px);
}

.slider.round {
    border-radius: 17px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.overlay {
    display: none;
}

.navLogo {
    display: none;
}



// Mobile View Section
@media only screen and (max-width: 600px) {
    .logoContainer {
        display: flex;
        justify-content: flex-end;
        margin: 25px;
    }

    .mobileHide {
        display: none;
    }

    .navLogo {
        display: block;
        width: 60px;
    }

    .totalCards {
        width: 20%;
        height: 50%;
        justify-content: flex-end;
    }

    .pageTitle {
        font-size: 20px;
    }

    .overlay {
        display: block;
    }

    .verticalNavArea {
        display: none;
    }

    .searchArea {
        overflow-x: scroll;
    }

    .tableArea {
        overflow-x: scroll;
    }

    .overlay-menu {
        display: block;
        margin-top: -100px;
    }

    .button_container {
        top: 5%;
        right: 2%;
        height: 27px;
        width: 35px;
        cursor: pointer;
        z-index: 100;
        transition: opacity 0.25s ease;
   }
    .button_container:hover {
        opacity: 0.7;
   }
    .button_container.active .top {
        transform: translateY(11px) translateX(0) rotate(45deg);
        background: #fff;
   }
    .button_container.active .middle {
        opacity: 0;
        background: #fff;
   }
    .button_container.active .bottom {
        transform: translateY(-11px) translateX(0) rotate(-45deg);
        background: #fff;
   }
    .button_container span {
        background: $backgroundAccentColor;
        border: none;
        height: 5px;
        width: 10%;
        position: absolute;
        top: 0;
        margin: 40px 20px 0px 10px;
        transition: all 0.35s ease;
        cursor: pointer;
   }
    .button_container span:nth-of-type(2) {
        top: 11px;
   }
    .button_container span:nth-of-type(3) {
        top: 22px;
   }
    .overlay {
        position: fixed;
        background: $backgroundAccentColor;
        top: 0;
        left: 0;
        width: 100%;
        height: 0%;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.35s, visibility 0.35s, height 0.35s;
        overflow: hidden;
   }
    .overlay.open {
        opacity: 0.9;
        visibility: visible;
        height: 100%;
   }
    .overlay.open li {
        animation: fadeInRight 0.5s ease forwards;
        animation-delay: 0.35s;
   }
    .overlay.open li:nth-of-type(2) {
        animation-delay: 0.4s;
   }
    .overlay.open li:nth-of-type(3) {
        animation-delay: 0.45s;
   }
    .overlay.open li:nth-of-type(4) {
        animation-delay: 0.5s;
   }
    .overlay nav {
        position: relative;
        height: 40%;
        top: 20%;
        transform: translateY(-20%);
        font-size: 25px;
        font-weight: 400;
        text-align: center;
        font-family: 'Lato', sans-serif;
   }
    .overlay ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        display: inline-block;
        position: relative;
        height: 100%;
   }
    .overlay ul li {
        display: block;
        height: 25%;
        height: calc(100% / 4);
        min-height: 50px;
        position: relative;
        opacity: 0;
   }
    .overlay ul li a {
        display: block;
        position: relative;
        color: #fff;
        text-decoration: none;
        overflow: hidden;
   }
    .overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
        width: 100%;
   }
    .overlay ul li a:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0%;
        transform: translateX(-50%);
        height: 3px;
        background: #fff;
        transition: 0.35s;
   }
    @keyframes fadeInRight {
        0% {
            opacity: 0;
            left: 20%;
       }
        100% {
            opacity: 1;
            left: 0;
       }
   }
}