<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<app-user-dashboard-nav></app-user-dashboard-nav>
<div class="main">
    <app-vertical-nav></app-vertical-nav>

    <div class="main-body">
        <div class="cards-panel">
            <div class="pnl">
                <h2>Personal Information</h2>
                <input type="text" class="txtArea" placeholder="Name">
                <input type="text" class="txtArea" placeholder="Email">
                <input type="text" class="txtArea" placeholder="Name">
            </div>
            <div class="pnl">
                <h2>Change Credentails</h2>
                <input type="password" class="txtArea" placeholder="Old Password">
                <input type="password" class="txtArea" placeholder="New Password">
                <input type="password" class="txtArea" placeholder="Confirm New Password">
                <button class="btn">Change</button>
            </div>
            <div class="pnl">
                <h2>Card Status</h2>
                <h3 class="lable">Card is currenly active</h3>
                <button class="btn">Toggle</button>
            </div>
        </div>
    </div>
</div>