@import url('https://fonts.googleapis.com/css2?family=SourceSansProRegular:wght@300;400&display=swap');

.body {
  width: 100%;
}

.main {
  display: flex;
  background-color: white;
  font-family: 'SourceSansProRegular', sans-serif;
}

.cards-panel {
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  background-color: white;
}

.pnl {
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 1px 1px 10px 1px rgb(204, 204, 204);
  border-radius: 10px;
  padding: 20px;
  min-width: 293px;
}

.txtArea {
  background-color: rgb(197, 197, 197);
  border-bottom: 2px solid gray;
  border-top: none;
  border-right: none;
  border-left: none;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

.btn {
  border: none;
  background-color: gray;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  transition: 0.3s;
  width: 100px;
  padding: 5px 10px;
}

.btn:hover {
  background-color: rgb(94, 94, 94);
  transition: 0.3s;
  cursor: pointer;
}

.lable {
  color: green;
}