<body>
    <div class="spacing"></div>

    <div class="center">
        <h1 class="title">Sign Up</h1>
        <form #signupForm="ngForm" (ngSubmit)="onSignUp(signupForm.value)">
            <div class="txt_field">
                <input type="text" required name="FirstName" ngModel>
                <label>First Name</label>
            </div>
            <div class="txt_field">
                <input type="text" required name="LastName" ngModel>
                <label>Last Name</label>
            </div>
            <div class="txt_field">
                <input type="text" required name="Email" ngModel>
                <label>Email</label>
            </div>
            <div class="txt_field">
                <input type="password" required name="Password" ngModel>
                <label>Password</label>
            </div>
            <input type="submit" value="Create Account">
            <div class="signup_link" routerLink="/login">Already have account? Login</div>
        </form>
    </div>
</body>