<body>
    <div class="spacing"></div>

    <div class="center">
        <h1 class="title">Sign Up</h1>
        <form>
            <div class="txt_field">
                <input type="text" required>
                <label>Username</label>
            </div>
            <div class="txt_field">
                <input type="text" required>
                <label>Email</label>
            </div>
            <div class="txt_field">
                <input type="password" required>
                <label>Password</label>
            </div>
            <div class="txt_field">
                <input type="password" required>
                <label>Comfirm Password</label>
            </div>
            <input type="submit" value="Create Account" routerLink="/userDashboard">
            <div class="signup_link" routerLink="/login">Already have account? Login</div>
        </form>
    </div>
</body>