<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<app-user-dashboard-nav></app-user-dashboard-nav>
<div class="main">
    <app-vertical-nav></app-vertical-nav>

    <div class="main-body">
        <div class="cards-panel">
            <div class="pnl">
                <article class="card">
                    <canvas baseChart
                        [datasets]="barChartData"
                        [labels]="barChartLables"
                        [options]="barChartOptions"
                        [legend]="barChartLegend"
                    ></canvas>
                </article>
            </div>
            <div class="pnl">
                <article class="card">
                    <canvas baseChart
                        [datasets]="pieChartData"
                        [labels]="pieChartLables"
                        [options]="barChartOptions"
                        [legend]="barChartLegend"
                        [type]="pieChartType"
                    ></canvas>
                </article>
            </div>
        </div>
    </div>
</div>