@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

.body {
  width: 100%;
  height: 100vh;
}

.navbar {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width: 100%;
    background-color: rgb(233, 233, 233);
    display: flex;
    justify-content: center;
    padding: 10px 0px 10px 0px;
    overflow: hidden;
    height: 9%;
}

.logoContainer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-decoration: none;
    color: #424242;
    font-size: 30px;
    margin-left: 200px;
}

.accountIDcontainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn {
  border: none;
  background-color: gray;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  transition: 0.3s;
  width: 100px;
  padding: 5px 10px;
}

.btn:hover {
  background-color: rgb(94, 94, 94);
  transition: 0.3s;
  cursor: pointer;
}

.accountStatus {
    background-color: #424242;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.30) 1.95px 1.95px 2.6px;
    border-radius: 5px;
    padding: 0px 20px 0px 20px;
    margin-right: 200px;
}

.accountStatus h1{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.accountStatus p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin-top: -10px;
}

  .main {
    display: flex;
    font-family: 'Lato', sans-serif;
  }

.main-body {
  display: flex;
}

  .buttons {
    display: flex;
    align-items: center;
    margin-right: 200px;
    gap: 20px;
  }

  .buttons button {
    width: 100px;
    height: 50px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #424242;
    color: white;
  }

  .buttons button:hover {
    background-color: #292929;
    cursor: pointer;
  }

  .cards-panel {
    margin: 50px;
    display: flex;
    gap: 50px;
  }

  .cardHolder {
    display: flex;
  }

  .actions i:hover {
    color: #424242;
    cursor: pointer;
  }

  .mobile {
    display: none;
  }
  
  .pnl {
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 1px 1px 10px 1px rgb(204, 204, 204);
    border-radius: 10px;
    padding: 20px;
    min-width: 293px;
  }

  .txtArea {
    background-color: rgb(197, 197, 197);
    border-bottom: 2px solid gray;
    border-top: none;
    border-right: none;
    border-left: none;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

@media screen and (max-width: 800px) {
      .mobile {
        display: flex;
        width: 100%;
        justify-content: center;
        padding-top: 10px;
      }
}