<div class="body">
    <div class="main">
        <div class="main-body">
            <app-admin-vert-navbar></app-admin-vert-navbar>

            <div class="main-body">
                <div class="cards-panel">
                    <div class="pnl">
                        <h2>Update Password</h2>
                        <form #changeRootPassForm="ngForm" (ngSubmit)="changeRootPass(changeRootPassForm.value)">
                            <input type="email" class="txtArea" placeholder="Email" name="Email" ngModel>
                            <input type="text" class="txtArea" placeholder="Username" name="Username" ngModel>
                            <input type="password" class="txtArea" placeholder="Old Password" name="Password" ngModel>
                            <input type="password" class="txtArea" placeholder="New Password" name="NewPassword" ngModel>
                            <input type="submit" class="btn" value="Change">
                        </form>
                    </div>

                    <div class="pnl">
                        <h2>Verify User</h2>
                        <form #verifyUserForm="ngForm" (ngSubmit)="verifyUser(verifyUserForm.value)">
                            <input type="text" class="txtArea" placeholder="User ID" name="UserID" ngModel>
                            <input type="email" class="txtArea" placeholder="User Email" name="Email" ngModel>
                            <input type="text" class="txtArea" placeholder="true or false" name="verification" ngModel>
                            <input type="submit" class="btn" value="Change">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>