<div class="body">
    <app-admin-navbar></app-admin-navbar>
    <div class="main">
        <div class="search-panel">
            <form class="search-fields">
                <div class="txt_field">
                    <input type="text" required>
                    <label>Search by Name</label>
                </div>
                <div class="txt_field">
                    <input type="text" required>
                    <label>Search by Card ID</label>
                </div>
            </form>
            <div class="buttons">
                <button>View</button>              
            </div>
        </div>
        <div class="buttons mobile">
            <button>View</button>                
        </div>
        <div class="main-body">
            <app-admin-vert-navbar></app-admin-vert-navbar>
            <div class="cards-panel">
                <div class="cardHolder">

                </div>
            </div>
        </div>
    </div>
</div>