<section class="body">
    <div class="cardArea">
        <div class="card">
            <div>
                <img class="cardImage" src="..//src/assets/img/demoprofile.jpg">
            </div>
            <div class="infoArea">
                <h1 class="fullNameField">Yusef Malik</h1>
                <p class="designationField">CEO</p>
                <p class="companyField">MyTag</p>
            </div>
        </div>
    </div>
    <div class="editorArea">
        <h1 class="title">Customize Your Card</h1>
        <p class="caption">Add all the relevant information to make your card more personalized!</p>
        <div class="buttonRows">
            <div class="buttonRow1">
                <button class="inputBtn"><i class="bi bi-cursor-text"></i><p class="btnLable">Name</p></button>
                <button class="inputBtn"><i class="bi bi-people-fill"></i><p class="btnLable">Designation</p></button>
                <button class="inputBtn"><i class="bi bi-building"></i><p class="btnLable">Company Name</p></button>
            </div>
        </div>
    </div>
</section>