<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

<div class="overlay" id="overlay">
    <div class="logoContainer">
        <img src="../../assets/img/logo.jpg" alt="MyTag Logo" class="navLogo">
    </div>
  <nav class="overlay-menu">
    <ul>
        <li class="gapTop"><div class="flexBox"><a routerLink="/dashboard"><i class="fa-solid fa-table-columns" style="color: white;"></i>Dashboard</a></div></li>
        <li><div class="flexBox"><a routerLink="/accounts"><i class="fa-solid fa-users" style="color: white;"></i>Accounts</a></div></li>
        <li><div class="flexBox"><a routerLink="/activeCards"><i class="fa-solid fa-address-card" style="color: white;"></i>Active Cards</a></div></li>
        <li><div class="flexBox"><a routerLink="/orders"><i class="fa-solid fa-store" style="color: white;"></i>Orders</a></div></li>
        <li><div class="flexBox"><i class="fa-solid fa-table-columns" style="color: white;"></i><a>Products</a></div></li>
        <li><div class="flexBox"><i class="fa-solid fa-table-columns" style="color: white;"></i><a>Templates</a></div></li>
        <li><div class="flexBox"><a routerLink="/adminSettings"><i class="fa-solid fa-gear" style="color: white;"></i>Settings</a></div></li>
        <li><div class="flexBox"><a routerLink="/"><i class="fa-solid fa-arrow-right-from-bracket" style="color: white;"></i>Log Out</a></div></li>
    </ul>
  </nav>
</div>

<div class="body">
    <app-admin-vert-navbar></app-admin-vert-navbar>
    
    <div class="contentArea">
        <div class="horizontalNavArea">
            <div class="hamContainer">
                <div class="button_container" id="toggle" (click)="toggleNav()"><span class="top"></span><span class="middle"></span><span class="bottom"></span></div>
                <h1 class="pageTitle">Cards</h1> 
            </div>
        </div>

        <div class="cardsPanel">
            <div class="pnl">
                <img [src]="cardImg" class="cardImg">
                <div class="cardInfo">
                    <div class="userName">{{data.Name}}</div>
                    <div class="userJobTitle">{{data.Job_title}}</div>
                    <div class="userCompany">{{data.Company_name}}</div>
                </div>
            </div>
            
            <div class="pnl">
                <qrcode [qrdata]="cardViewLink" [width]="280" [errorCorrectionLevel]="'M'"></qrcode>
            </div>
        </div>
    </div>
</div>