$primaryColor: #f35a57;
$primaryAccentColor: #d14b49;
$backgroundColor: #353535;
$backgroundAccentColor: #646464;
$foregroundColor: white;

* {
    font-family: SourceSansProRegular, sans-serif;
}

@font-face {
    font-family: SourceSansProRegular;
    src: url("../../assets/fonts/SourceSansPro-Regular.ttf");
}

.body {
    width: 100%;
    height: calc(100vh - 2px);
    min-height: 837px;
    display: flex;
    border-bottom: 2px solid black;
}

.contentArea {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
}

.horizontalNavArea {
    background-color: #f5f5f5;
    border-bottom: 2px solid rgb(182, 182, 182);
    height: 80px;
    min-height: 80px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.pageTitle {
    margin-left: 2%;
}

.cardsPanel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    width: 95%;
    height: 90%;
}

.pnl {
    background-color: white;
    width: 300px;
    max-width: 300px;
    height: 500px;
    max-height: 500px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 1px rgb(163, 163, 163);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardImg {
    margin: 10px;
    border-radius: 5px;
    width: 280px;
    height: 280px;
}

.cardInfo {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-top: 20px;
}

.userName {
    font-size: 30px;
    font-weight: bold;
}

.userJobTitle {
    font-size: 20px;
}

.userCompany {
    font-size: 15px;
}

.btn {
    margin-top: 30px;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: black;
    transition: 0.3s;
}

.btn:hover {
    transition: 0.3s;
    background-color: #353535;
    cursor: pointer;
}

.overlay {
    display: none;
}

@media only screen and (max-width: 600px) {
    .cards {
        display: flex;
        gap: 50px;
        flex-wrap: wrap;
        width: 100%;
        height:100%;
        padding-top: 50px;
        justify-content: center;
    }

    .logoContainer {
        display: flex;
        justify-content: flex-end;
        margin: 25px;
    }

    .mobileHide {
        display: none;
    }

    .navLogo {
        display: block;
        width: 60px;
    }

    .totalCards {
        width: 20%;
        height: 50%;
        justify-content: flex-end;
    }

    .pageTitle {
        font-size: 25px;
        margin-left: 10%;
    }

    .hamContainer {
        display: flex;
        width: 100%;
    }

    .overlay {
        display: block;
    }

    .verticalNavArea {
        display: none;
    }

    .searchArea {
        overflow-x: scroll;
    }

    .tableArea {
        overflow-x: scroll;
    }

    .overlay-menu {
        display: block;
        margin-top: -100px;
    }

    .button_container {
        top: 5%;
        right: 2%;
        height: 27px;
        width: 35px;
        cursor: pointer;
        z-index: 100;
        transition: opacity 0.25s ease;
   }

    .button_container:hover {
        opacity: 0.7;
   }

    .button_container.active .top {
        transform: translateY(11px) translateX(0) rotate(45deg);
        background: #fff;
   }

    .button_container.active .middle {
        opacity: 0;
        background: #fff;
   }

    .button_container.active .bottom {
        transform: translateY(-11px) translateX(0) rotate(-45deg);
        background: #fff;
   }

    .button_container span {
        background: $backgroundAccentColor;
        border: none;
        height: 5px;
        width: 10%;
        position: absolute;
        top: 0;
        margin: 28px 20px 0px 10px;
        transition: all 0.35s ease;
        cursor: pointer;
   }

    .button_container span:nth-of-type(2) {
        top: 11px;
   }

    .button_container span:nth-of-type(3) {
        top: 22px;
   }

    .overlay {
        position: fixed;
        background: $backgroundAccentColor;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.35s, visibility 0.35s, width 0.35s;
        overflow: hidden;
   }

    .overlay.open {
        opacity: 0.9;
        visibility: visible;
        width: 100%;
   }

    .overlay.open li {
        animation: fadeInRight 0.5s ease forwards;
        animation-delay: 0.35s;
   }

    .overlay.open li:nth-of-type(2) {
        animation-delay: 0.4s;
   }

    .overlay.open li:nth-of-type(3) {
        animation-delay: 0.45s;
   }

    .overlay.open li:nth-of-type(4) {
        animation-delay: 0.5s;
   }

    .overlay nav {
        position: relative;
        height: 40%;
        top: 20%;
        transform: translateY(-20%);
        font-size: 25px;
        font-weight: 400;
        text-align: center;
        font-family: 'Lato', sans-serif;
   }

    .overlay ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        display: inline-block;
        position: relative;
        height: 100%;
   }

    .overlay ul li {
        display: block;
        height: 25%;
        height: calc(100% / 4);
        min-height: 50px;
        position: relative;
        opacity: 0;
   }

    .overlay ul li a {
        display: block;
        position: relative;
        color: #fff;
        text-decoration: none;
        overflow: hidden;
   }
   
    .overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
        width: 100%;
   }

    .overlay ul li a:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0%;
        transform: translateX(-50%);
        height: 3px;
        background: #fff;
        transition: 0.35s;
   }

    @keyframes fadeInRight {
        0% {
            opacity: 0;
            left: 20%;
       }
        100% {
            opacity: 1;
            left: 0;
       }
   }
}