<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

<div class="overlay" id="overlay">
    <div class="logoContainer">
        <img src="../../assets/img/logo.jpg" alt="MyTag Logo" class="navLogo">
    </div>
  <nav class="overlay-menu">
    <ul>
        <li class="gapTop"><div class="flexBox"><a routerLink="/dashboard"><i class="fa-solid fa-table-columns" style="color: white;"></i>Dashboard</a></div></li>
        <li><div class="flexBox"><a routerLink="/accounts"><i class="fa-solid fa-users" style="color: white;"></i>Accounts</a></div></li>
        <li><div class="flexBox"><a routerLink="/activeCards"><i class="fa-solid fa-address-card" style="color: white;"></i>Active Cards</a></div></li>
        <li><div class="flexBox"><a routerLink="/orders"><i class="fa-solid fa-store" style="color: white;"></i>Orders</a></div></li>
        <li><div class="flexBox"><i class="fa-solid fa-table-columns" style="color: white;"></i><a>Products</a></div></li>
        <li><div class="flexBox"><i class="fa-solid fa-table-columns" style="color: white;"></i><a>Templates</a></div></li>
        <li><div class="flexBox"><a routerLink="/adminSettings"><i class="fa-solid fa-gear" style="color: white;"></i>Settings</a></div></li>
        <li><div class="flexBox"><a routerLink="/"><i class="fa-solid fa-arrow-right-from-bracket" style="color: white;"></i>Log Out</a></div></li>
    </ul>
  </nav>
</div>

<div class="body">
    <div class="area" style="width: 60px;"></div>
    <app-admin-vert-navbar></app-admin-vert-navbar>
    
    <div class="contentArea">
        <div class="horizontalNavArea">
            <div class="hamContainer">
                <div class="button_container" id="toggle" (click)="toggleNav()"><span class="top"></span><span class="middle"></span><span class="bottom"></span></div>
                <h1 class="pageTitle">Cards</h1> 
            </div>
        </div>

        <div class="cardsPanel">
            <div class="cards">
                <div class="card">
                    <div class="upperCard" id="upperCard">
                        <div class="container cardNavArea">
                            <input type="button" value="Add Image" class="btn1">
                            <img class="logo hidden" src="../../assets/img/logo.jpg">
                            <p class="editBtn" (click)="toggleEditField('cardHeadArea')">Edit</p>
                        </div>
                    </div>
                    
                    <div class="container cardHeadArea" id="cardHead">
                        <img class="profilePic" id="profilePic" [src]="imageUrl">
                        <!-- (click)="selectFile()" -->
                        <!-- <input type="file" #imgInput id="FileUpload1" style="display: none" (change)="onFileSelected($event)"> -->
        
                        <div class="nameDetailsPnl">
                            <h3 class="nameField">{{data.Name}}</h3>
                            <p class="designationField">{{data.Job_title}}</p>
                            <p class="companyField">{{data.Company_name}}</p>
                        </div>
                    </div>
                    
                    <div class="container shareArea" id="shareArea">
                        <input type="button" value="Save Contact" class="secondaryBtn">
                        <input type="button" value="Exchange Contact" class="primaryBtn">
                    </div>

                    <div class="container descArea">
                        <p class="descField" id="descArea">{{data.Headline}}</p>
                    </div>

                    <div id="cardHeadArea" class="hidden">
                        <div class="container cardHeadEditArea" id="cardHeadArea">
                            <div class="saveBtnArea">
                                <input type="button" value="Save" class="btn2" (click)="updateCard(cardID, userId)">
                            </div>
                            <h3 class="editHeading">Edit your Card Header</h3>
                            <div class="editBodyArea">
                                <h4>Profile Picture</h4>
                                <input type="file" #imgInput id="FileUpload1" (change)="onFileSelected($event)">
                                <h4>Name</h4>
                                <input class="inputField" id="Name" placeholder="Your Name" value={{data.Name}} (keyup)="selectField('Name')">
                                <h4>Designation</h4>
                                <input class="inputField" id="Job_title" placeholder="Your Designation" value={{data.Job_title}} (keyup)="selectField('Job_title')">
                                <h4>Company Name</h4>
                                <input class="inputField" id="Company_name" placeholder="Your Company Name" value={{data.Company_name}} (keyup)="selectField('Company_name')">
                                <h4>Headline</h4>
                                <textarea class="inputField" maxlength="96" id="Headline" placeholder="Enter Headline" rows="2" wrap="soft" (keyup)="selectField('Headline')">{{data.Headline}}</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="width95" id="socialDetailSection">
                        <div class="editBtnArea" id="editBtnArea">
                            <p class="sectionHeading">Social Networks</p>
                            <p class="editBtn" (click)="toggleEditField('socialEditSection')">Edit</p>
                        </div>

                        <div class="socialIcons">
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-instagram"></i>
                            <i class="fa-brands fa-linkedin"></i>
                            <i class="fa-brands fa-whatsapp"></i>
                            <i class="fa-brands fa-skype"></i>
                        </div>
                    </div>

                    <div class="width95 hidden" id="socialEditSection">
                        <div class="container cardHeadEditArea">
                            <div class="saveBtnArea">
                                <input type="button" value="Save" class="btn2" (click)="updateCard(cardID, userId)">
                            </div>
                            <h3 class="editHeading">Edit your Social Details</h3>
                            <div class="editBodyArea">
                                <!-- CONTENT HERE FOR EDITING -->
                            </div>
                        </div>
                    </div>

                    <div id="basicContactSection" class="width95">

                        <div class="editBtnArea" id="editBtnArea">
                            <p class="sectionHeading"></p>
                            <p class="editBtn" (click)="toggleEditField('basicDetailArea')">Edit</p>
                        </div>

                        <div class="container basicContactArea" id="basicContactArea">
                            <div class="cardInfoCont">
                                <i class="fa-solid fa-phone"></i>
                                <!-- <p class="intel">Use , to seperate multiple numbers.</p> -->
                                <!-- <input type="text" class="inputField" id="Phone" placeholder="Your number" value={{data.Phone}} (keyup)="selectField('Phone')"> -->
                                <p class="intel">{{data.Phone}}</p>
                            </div>
                        </div> 
            
                        <div class="container basicContactArea" id="basicContactArea">
                            <div class="cardInfoCont">
                                <i class="fa-solid fa-envelope"></i>
                                <!-- <p class="intel">Use , to seperate multiple numbers.</p> -->
                                <!-- <input type="text" class="inputField" id="Email" placeholder="yourmail@service.com" value={{data.Email}} (keyup)="selectField('Email')"> -->
                                <p class="intel">{{data.Email}}</p>
                            </div>
                        </div> 
            
                        <div class="container basicContactArea" id="basicContactArea">
                            <div class="cardInfoCont">
                                <i class="fa-solid fa-link"></i>
                                <!-- <input type="text" class="inputField" id="Link" placeholder="www.yourwebsite.com" value={{data.Link}} (keyup)="selectField('Link')"> -->
                                <p class="intel">{{data.Link}}</p>
                            </div>
                        </div> 
            
                        <div class="container basicContactArea" id="basicContactArea">
                            <div class="cardInfoCont">
                                <i class="fa-solid fa-map"></i>
                                <!-- <textarea class="inputField" id="Address" placeholder="Your address" rows="3" maxlength="125" wrap="soft" (keyup)="selectField('Address')">{{data.Address}}</textarea> -->
                                <p class="intel">{{data.Address}}</p>
                            </div>
                        </div> 
                    </div>

                    <div id="basicDetailEditArea" class="width95 hidden">
                        <div class="container cardHeadEditArea" id="basicDetailArea">
                            <div class="saveBtnArea">
                                <input type="button" value="Save" class="btn2" (click)="updateCard(cardID, userId)">
                            </div>
                            <h3 class="editHeading">Edit your Basic Details</h3>
                            <div class="editBodyArea">
                                <h4>Contact No</h4>
                                <input class="inputField" id="Phone" placeholder="Your contact number" value={{data.Phone}} (keyup)="selectField('Phone')">
                                <h4>Email</h4>
                                <input class="inputField" id="Email" placeholder="Your Email" value={{data.Email}} (keyup)="selectField('Email')">
                                <h4>Website</h4>
                                <input class="inputField" id="Link" placeholder="Your website" value={{data.Link}} (keyup)="selectField('Link')">
                                <h4>Address</h4>
                                <textarea class="inputField" maxlength="96" id="Address" placeholder="Your Address" rows="3" wrap="soft" (keyup)="selectField('Address')">{{data.Address}}</textarea>
                            </div>
                        </div>
                    </div>

                    <div class="" id="videoArea">
                        <div class="editBtnArea" id="editBtnArea">
                            <p class="sectionHeading">Video</p>
                            <p class="editBtn" (click)="toggleEditField('')">Edit</p>
                        </div>

                        <div class="container flexColumn">
                            <video width="330px" height="200" controls style="border-radius: 15px;">
                                <source src="" type="video/mp4">
                            </video>
                        </div>
                    </div>

                    <div class="" id="linksArea">
                        <div class="editBtnArea" id="editBtnArea">
                            <p class="sectionHeading">Links</p>
                            <p class="editBtn" (click)="toggleEditField('')">Edit</p>
                        </div>
                    </div>
                </div>

                <div class="flexColumn">

                    <div class="pnl sigPnl">
                        <div class="cardInfo">
                            <div class="userName">Email Signature</div>
                        </div>
                    </div>

                    <div class="flexRow">
                        <div class="pnl">
                            <qrcode [qrdata]="cardViewLink" [width]="280" [errorCorrectionLevel]="'M'"></qrcode>
                        </div>
        
                        <div class="pnl">
                            <canvas baseChart width="400" height="400"
                            [data]="lineChartData"
                            [options]="lineChartOptions"
                            [type]="lineChartType"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>