<!-- Import for FontAwesome icons. -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

<!-- Overlay for navigation menu in mobile view. -->
<div class="overlay" id="overlay">
    <div class="logoContainer">
        <img src="../../assets/img/logo.jpg" alt="MyTag Logo" class="navLogo">
    </div>
  <nav class="overlay-menu">
    <ul>
        <li class="gapTop"><div class="flexBox"><a routerLink="/dashboard"><i class="fa-solid fa-table-columns" style="color: white;"></i>Dashboard</a></div></li>
        <li><div class="flexBox"><a routerLink="/inventory"><i class="fa-solid fa-boxes-stacked" style="color: white;"></i>Inventory</a></div></li>
        <li><div class="flexBox"><a routerLink="/accounts"><i class="fa-solid fa-users" style="color: white;"></i>Accounts</a></div></li>
        <li><div class="flexBox"><a routerLink="/activeCards"><i class="fa-solid fa-address-card" style="color: white;"></i>Active Cards</a></div></li>
        <li><div class="flexBox"><a routerLink="/orders"><i class="fa-solid fa-store" style="color: white;"></i>Orders</a></div></li>
        <li><div class="flexBox"><a><i class="fa-solid fa-table-columns" style="color: white;"></i>Products</a></div></li>
        <li><div class="flexBox"><a><i class="fa-solid fa-table-columns" style="color: white;"></i>Templates</a></div></li>
        <li><div class="flexBox"><a routerLink="/adminSettings"><i class="fa-solid fa-gear" style="color: white;"></i>Settings</a></div></li>
        <li><div class="flexBox"><a routerLink="/"><i class="fa-solid fa-arrow-right-from-bracket" style="color: white;"></i>Log Out</a></div></li>
    </ul>
  </nav>
</div>

<!-- Overlay for image cropper. -->
<div class="imageCropperOverlay hidden" id="cropperOverlay">
    <div class="cropperBox">
        <div class="cropArea">
        <image-cropper
            [imageChangedEvent]="imgChangeEvent1"
            [aspectRatio]="4/4"
            [maintainAspectRatio]="true"
            [resizeToWidth]="256"
            format="png"
            (imageCropped)="cropImg($event)"
            (imageLoaded)="imgLoad()"
            (cropperReady)="initCropper()"
            (loadImageFailed)="imgFailed()"
        ></image-cropper>
        </div>

        <div class="cropperButtonRow">
            <button class="cropperBtn secondary" (click)="cancelCropper()">Cancel</button>
            <button class="cropperBtn primary" (click)="finalizeCrop()">Finish</button> 
        </div>
    </div>
</div>

<!-- Code for entire page. -->
<div class="body">
    <!-- Div to give spacing for vertical navbar in desktop view. -->
    <div class="area" style="width: 60px;"></div>
    <app-admin-vert-navbar></app-admin-vert-navbar>
    
    <div class="contentArea">
        <div class="horizontalNavArea">
            <div class="hamContainer">
                <div class="button_container" id="toggle" (click)="toggleNav()"><span class="top"></span><span class="middle"></span><span class="bottom"></span></div>
                <h1 class="pageTitle">Cards</h1> 
            </div>
        </div>

        <div class="cardsPanel">
            <div class="cards">
                <div class="card">
                    <div class="upperCard" id="upperCard">
                        <div class="container cardNavArea">
                            <!-- <input type="button" value="Add Image" class="btn1"> -->
                            <img class="logo" id="logo" [src]="logoUrl">
                            <p class="editBtn" (click)="toggleEditField('cardHeadArea')">Edit</p>
                        </div>
                    </div>
                    
                    <div class="container cardHeadArea" id="cardHead">
                        <img class="profilePic" id="profilePic" [src]="imageUrl">
        
                        <div class="nameDetailsPnl">
                            <h3 class="nameField">{{data.Name}}</h3>
                            <p class="designationField">{{data.Job_title}}</p>
                            <p class="companyField">{{data.Company_name}}</p>
                        </div>
                    </div>
                    
                    <div class="container shareArea" id="shareArea">
                        <input type="button" value="Save Contact" class="secondaryBtn">
                        <input type="button" value="Exchange Contact" class="primaryBtn">
                    </div>

                    <div class="container descArea">
                        <p class="descField" id="descArea">{{data.Headline}}</p>
                    </div>

                    <div id="cardHeadArea" class="hidden">
                        <div class="container cardHeadEditArea" id="cardHeadArea">
                            <div class="saveBtnArea">
                                <input type="button" value="Cancel" class="btn2" style="background-color: white; color: black; border: 1px solid black;" (click)="toggleEditField('cardHeadArea')">
                                <input type="button" value="Save" class="btn2" (click)="updateCard(cardID, userId)">
                            </div>
                            <h3 class="editHeading">Edit your Card Header</h3>
                            <div class="editBodyArea">
                                <h4>Profile Picture</h4>
                                <input type="file" #imgInput id="FileUpload1" (change)="onFileSelected($event)">
                                <h4>Logo</h4>
                                <input type="file" #imgInput2 id="FileUpload2" (change)="onFileSelected2($event)">
                                <h4>Name</h4>
                                <input class="inputField" id="Name" placeholder="Your Name" value={{data.Name}} (keyup)="selectField('Name')" maxlength="41">
                                <h4>Designation</h4>
                                <input class="inputField" id="Job_title" placeholder="Your Designation" value={{data.Job_title}} (keyup)="selectField('Job_title')">
                                <h4>Company Name</h4>
                                <input class="inputField" id="Company_name" placeholder="Your Company Name" value={{data.Company_name}} (keyup)="selectField('Company_name')">
                                <h4>Headline</h4>
                                <textarea class="inputField" maxlength="96" id="Headline" placeholder="Enter Headline" rows="2" wrap="soft" (keyup)="selectField('Headline')">{{data.Headline}}</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="width95" id="socialDetailSection">
                        <div class="editBtnArea" id="editBtnArea">
                            <p class="sectionHeading">Social Networks</p>
                            <p class="editBtn" (click)="toggleEditField('socialEditSection')">Edit</p>
                        </div>

                        <div class="socialIcons">
                            <i class="fa-brands fa-twitter" *ngIf="data.Twitter.length > 0"></i>
                            <i class="fa-brands fa-instagram" *ngIf="data.Instagram.length > 0"></i>
                            <i class="fa-brands fa-linkedin" *ngIf="data.Linkedin.length > 0"></i>
                            <i class="fa-brands fa-facebook" *ngIf="data.Facebook.length > 0"></i>
                            <i class="fa-brands fa-youtube" *ngIf="data.Youtube.length > 0"></i>
                            <i class="fa-brands fa-snapchat" *ngIf="data.Snapchat.length > 0"></i>
                            <i class="fa-brands fa-tiktok" *ngIf="data.Tiktok.length > 0"></i>
                            <i class="fa-brands fa-twitch" *ngIf="data.Twitch.length > 0"></i>
                            <i class="fa-brands fa-yelp" *ngIf="data.Yelp.length > 0"></i>
                            <i class="fa-brands fa-discord" *ngIf="data.Discord.length > 0"></i>
                            <i class="fa-brands fa-whatsapp" *ngIf="data.Whatsapp.length > 0"></i>
                            <i class="fa-brands fa-skype" *ngIf="data.Skype.length > 0"></i>
                            <i class="fa-brands fa-telegram" *ngIf="data.Telegram.length > 0"></i>
                        </div>
                    </div>

                    <div class="width95 hidden" id="socialEditSection">
                        <div class="container cardHeadEditArea">
                            <div class="saveBtnArea">
                                <input type="button" value="Cancel" class="btn2" style="background-color: white; color: black; border: 1px solid black;" (click)="toggleEditField('socialEditSection')">
                                <input type="button" value="Save" class="btn2" (click)="updateCard(cardID, userId)">
                            </div>
                            <h3 class="editHeading">Edit your Social Details</h3>
                            <div class="editBodyArea">
                                <div class="selectContainer" id="socialGroup1">
                                    <select id="social1" class="socialSelector" (change)="getSocialValue('1')">
                                        <option value="Twitter">Twitter</option>
                                        <option value="Instagram">Instagram</option>
                                        <option value="Linkedin">LinkedIn</option>
                                        <option value="Facebook">Facebook</option>
                                        <option value="Youtube">YouTube</option>
                                        <option value="Snapchat">Snapchat</option>
                                        <option value="Tiktok">TikTok</option>
                                        <option value="Twitch">Twitch</option>
                                        <option value="Yelp">Yelp</option>
                                        <option value="Discord">Discord</option>
                                        <option value="Whatsapp">WhatsApp</option>
                                        <option value="Skype">Skype</option>
                                        <option value="Telegram">Telegram</option>
                                    </select>

                                    <input class="inputField" id="socialLink1" placeholder="Link" value={{data.Twitter}} (keyup)="socialGetEvent('1')">
                                </div>

                                <div class="selectContainer hidden" id="socialGroup2" style="flex-direction: column; gap: 2px;">
                                    <div style="display: flex; justify-content: flex-end; width: 100%; align-items: center; gap: 5px;">
                                        <p (click)="removeSocialGroup('2')">Delete</p>
                                        <i class="fa-solid fa-xmark" (click)="removeSocialGroup('2')"></i>
                                    </div>
                                    <div style="display: flex; width: 100%; gap: 10px;">
                                        <select id="social2" class="socialSelector" (change)="getSocialValue('2')">
                                            <option value="Youtube">YouTube</option>
                                            <option value="Twitter">Twitter</option>
                                            <option value="Instagram">Instagram</option>
                                            <option value="Linkedin">LinkedIn</option>
                                            <option value="Facebook">Facebook</option>
                                            <option value="Snapchat">Snapchat</option>
                                            <option value="Tiktok">TikTok</option>
                                            <option value="Twitch">Twitch</option>
                                            <option value="Yelp">Yelp</option>
                                            <option value="Discord">Discord</option>
                                            <option value="Whatsapp">WhatsApp</option>
                                            <option value="Skype">Skype</option>
                                            <option value="Telegram">Telegram</option>
                                        </select>

                                        <input class="inputField" id="socialLink2" placeholder="Link" value={{data.Youtube}} (keyup)="socialGetEvent('2')">
                                    </div>
                                </div>

                                <div class="selectContainer hidden" id="socialGroup3" style="flex-direction: column; gap: 2px;">
                                    <div style="display: flex; justify-content: flex-end; width: 100%; align-items: center; gap: 5px;">
                                        <p (click)="removeSocialGroup('3')">Delete</p>
                                        <i class="fa-solid fa-xmark" (click)="removeSocialGroup('3')"></i>
                                    </div>
                                    <div style="display: flex; width: 100%; gap: 10px;">
                                        <select id="social3" class="socialSelector" (change)="getSocialValue('3')">
                                            <option value="Instagram">Instagram</option>
                                            <option value="Youtube">YouTube</option>
                                            <option value="Twitter">Twitter</option>
                                            <option value="Linkedin">LinkedIn</option>
                                            <option value="Facebook">Facebook</option>
                                            <option value="Snapchat">Snapchat</option>
                                            <option value="Tiktok">TikTok</option>
                                            <option value="Twitch">Twitch</option>
                                            <option value="Yelp">Yelp</option>
                                            <option value="Discord">Discord</option>
                                            <option value="Whatsapp">WhatsApp</option>
                                            <option value="Skype">Skype</option>
                                            <option value="Telegram">Telegram</option>
                                        </select>

                                        <input class="inputField" id="socialLink3" placeholder="Link" value={{data.Instagram}} (keyup)="socialGetEvent('3')">
                                    </div>
                                </div>

                                <div class="selectContainer hidden" id="socialGroup4" style="flex-direction: column; gap: 2px;">
                                    <div style="display: flex; justify-content: flex-end; width: 100%; align-items: center; gap: 5px;">
                                        <p (click)="removeSocialGroup('4')">Delete</p>
                                        <i class="fa-solid fa-xmark" (click)="removeSocialGroup('4')"></i>
                                    </div>
                                    <div style="display: flex; width: 100%; gap: 10px;">
                                        <select id="social4" class="socialSelector" (change)="getSocialValue('4')">
                                            <option value="Linkedin">LinkedIn</option>
                                            <option value="Youtube">YouTube</option>
                                            <option value="Twitter">Twitter</option>
                                            <option value="Instagram">Instagram</option>
                                            <option value="Facebook">Facebook</option>
                                            <option value="Snapchat">Snapchat</option>
                                            <option value="Tiktok">TikTok</option>
                                            <option value="Twitch">Twitch</option>
                                            <option value="Yelp">Yelp</option>
                                            <option value="Discord">Discord</option>
                                            <option value="Whatsapp">WhatsApp</option>
                                            <option value="Skype">Skype</option>
                                            <option value="Telegram">Telegram</option>
                                        </select>

                                        <input class="inputField" id="socialLink4" placeholder="Link" value={{data.Linkedin}} (keyup)="socialGetEvent('4')">
                                    </div>
                                </div>

                                <div class="selectContainer hidden" id="socialGroup5" style="flex-direction: column; gap: 2px;">
                                    <div style="display: flex; justify-content: flex-end; width: 100%; align-items: center; gap: 5px;">
                                        <p (click)="removeSocialGroup('5')">Delete</p>
                                        <i class="fa-solid fa-xmark" (click)="removeSocialGroup('5')"></i>
                                    </div>
                                    <div style="display: flex; width: 100%; gap: 10px;">
                                        <select id="social5" class="socialSelector" (change)="getSocialValue('5')">
                                            <option value="Facebook">Facebook</option>
                                            <option value="Youtube">YouTube</option>
                                            <option value="Twitter">Twitter</option>
                                            <option value="Instagram">Instagram</option>
                                            <option value="Linkedin">LinkedIn</option>
                                            <option value="Snapchat">Snapchat</option>
                                            <option value="Tiktok">TikTok</option>
                                            <option value="Twitch">Twitch</option>
                                            <option value="Yelp">Yelp</option>
                                            <option value="Discord">Discord</option>
                                            <option value="Whatsapp">WhatsApp</option>
                                            <option value="Skype">Skype</option>
                                            <option value="Telegram">Telegram</option>
                                        </select>

                                        <input class="inputField" id="socialLink5" placeholder="Link" value={{data.Facebook}} (keyup)="socialGetEvent('5')">
                                    </div>
                                </div>
                                <div class="selectContainer clickable" *ngIf="totalSocials.length < 4">
                                    <div style="display: flex; gap: 10px; align-items: center; color: red; width: 100%;" (click)="addSocials()">
                                        <i class="fa-solid fa-plus" style="color: red;"></i>
                                        <p style="font-weight: bold;">Add Social Network</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="basicContactSection" class="width95">

                        <div class="editBtnArea" id="editBtnArea">
                            <p class="sectionHeading">Contact Info</p>
                            <p class="editBtn" (click)="toggleEditField('basicDetailArea')">Edit</p>
                        </div>

                        <div class="container basicContactArea" id="basicContactArea" *ngFor="let number of phoneNumbers">
                            <div class="cardInfoCont" *ngIf="phoneNumbers[0] != ''">
                                <i class="fa-solid fa-phone"></i>
                                <p class="intel">{{number}}</p>
                            </div>
                        </div> 
            
                        <div class="container basicContactArea" id="basicContactArea" *ngFor="let email of emails">
                            <div class="cardInfoCont" *ngIf="emails[0] != ''">
                                <i class="fa-solid fa-envelope"></i>
                                <p class="intel">{{email}}</p>
                            </div>
                        </div> 
            
                        <div class="container basicContactArea" id="basicContactArea" *ngFor="let website of websites">
                            <div class="cardInfoCont" *ngIf="websites[0] != ''">
                                <i class="fa-solid fa-globe"></i>
                                <p class="intel">{{website}}</p>
                            </div>
                        </div> 
            
                        <div class="container basicContactArea" id="basicContactArea" *ngFor="let address of addresses">
                            <div class="cardInfoCont" *ngIf="addresses[0] != ''">
                                <i class="fa-solid fa-map"></i>
                                <p class="intel">{{address}}</p>
                            </div>
                        </div> 
                    </div>

                    <div id="basicDetailEditArea" class="width95 hidden">
                        <div class="container cardHeadEditArea" id="basicDetailArea">
                            <div class="saveBtnArea">
                                <input type="button" value="Cancel" class="btn2" style="background-color: white; color: black; border: 1px solid black;" (click)="toggleEditField('basicDetailArea')">
                                <input type="button" value="Save" class="btn2" (click)="updateCard(cardID, userId)">
                            </div>
                            <h3 class="editHeading">Edit your Basic Details</h3>
                            <div class="editBodyArea">
                                <h4>Contact No</h4>
                                <div class="selectContainer hidden" id="contactGroup1" style="flex-direction: column; gap: 2px">
                                    <div style="display: flex; justify-content: flex-end; width: 100%; align-items: center; gap: 5px">
                                        <p (click)="removeContactGroup('1')">Delete</p>
                                        <i class="fa-solid fa-xmark" (click)="removeContactGroup('1')"></i>
                                    </div>
                                    <input class="inputField" id="contact1" placeholder="Contact" value="{{phoneNumbers[0]}}">
                                </div>
                                <div class="selectContainer hidden" id="contactGroup2" style="flex-direction: column; gap: 2px">
                                    <div style="display: flex; justify-content: flex-end; width: 100%; align-items: center; gap: 5px">
                                        <p (click)="removeContactGroup('2')">Delete</p>
                                        <i class="fa-solid fa-xmark" (click)="removeContactGroup('2')"></i>
                                    </div>
                                    <input class="inputField" id="contact2" placeholder="Contact" value="{{phoneNumbers[1]}}">
                                </div>
                                <div class="selectContainer hidden" id="contactGroup3" style="flex-direction: column; gap: 2px">
                                    <div style="display: flex; justify-content: flex-end; width: 100%; align-items: center; gap: 5px">
                                        <p (click)="removeContactGroup('3')">Delete</p>
                                        <i class="fa-solid fa-xmark" (click)="removeContactGroup('3')"></i>
                                    </div>
                                    <input class="inputField" id="contact3" placeholder="Contact" value="{{phoneNumbers[2]}}">
                                </div>
                                <div class="selectContainer hidden" id="contactGroup4" style="flex-direction: column; gap: 2px">
                                    <div style="display: flex; justify-content: flex-end; width: 100%; align-items: center; gap: 5px">
                                        <p (click)="removeContactGroup('4')">Delete</p>
                                        <i class="fa-solid fa-xmark" (click)="removeContactGroup('4')"></i>
                                    </div>
                                    <input class="inputField" id="contact4" placeholder="Contact" value="{{phoneNumbers[3]}}">
                                </div>
                                <div class="selectContainer hidden" id="contactGroup5" style="flex-direction: column; gap: 2px">
                                    <div style="display: flex; justify-content: flex-end; width: 100%; align-items: center; gap: 5px">
                                        <p (click)="removeContactGroup('5')">Delete</p>
                                        <i class="fa-solid fa-xmark" (click)="removeContactGroup('5')"></i>
                                    </div>
                                    <input class="inputField" id="contact5" placeholder="Contact" value="{{phoneNumbers[4]}}">
                                </div>
                                <div class="selectContainer hidden" id="contactGroup6" style="flex-direction: column; gap: 2px">
                                    <div style="display: flex; justify-content: flex-end; width: 100%; align-items: center; gap: 5px">
                                        <p (click)="removeContactGroup('6')">Delete</p>
                                        <i class="fa-solid fa-xmark" (click)="removeContactGroup('6')"></i>
                                    </div>
                                    <input class="inputField" id="contact6" placeholder="Contact" value="{{phoneNumbers[5]}}">
                                </div>
                                <div class="selectContainer hidden" id="contactGroup7" style="flex-direction: column; gap: 2px">
                                    <div style="display: flex; justify-content: flex-end; width: 100%; align-items: center; gap: 5px">
                                        <p (click)="removeContactGroup('7')">Delete</p>
                                        <i class="fa-solid fa-xmark" (click)="removeContactGroup('7')"></i>
                                    </div>
                                    <input class="inputField" id="contact7" placeholder="Contact" value="{{phoneNumbers[6]}}">
                                </div>
                                <div class="selectContainer clickable" *ngIf="totalContacts.length < 7">
                                    <div style="display: flex; gap: 10px; align-items: center; color: red; width: 100%;" (click)="addContacts()">
                                        <i class="fa-solid fa-plus" style="color: red;"></i>
                                        <p style="font-weight: bold;">Add Contact No</p>
                                    </div>
                                </div>
                                <h4>Email</h4>
                                <div class="selectContainer hidden" id="emailGroup1" style="flex-direction: column; gap: 2px">
                                    <div style="display: flex; justify-content: flex-end; width: 100%; align-items: center; gap: 5px">
                                        <p (click)="removeEmailGroup('1')">Delete</p>
                                        <i class="fa-solid fa-xmark" (click)="removeEmailGroup('1')"></i>
                                    </div>
                                    <input class="inputField" id="email1" placeholder="Email" value="{{emails[0]}}">
                                </div>
                                <div class="selectContainer hidden" id="emailGroup2" style="flex-direction: column; gap: 2px">
                                    <div style="display: flex; justify-content: flex-end; width: 100%; align-items: center; gap: 5px">
                                        <p (click)="removeEmailGroup('2')">Delete</p>
                                        <i class="fa-solid fa-xmark" (click)="removeEmailGroup('2')"></i>
                                    </div>
                                    <input class="inputField" id="email2" placeholder="Email" value="{{emails[1]}}">
                                </div>
                                <div class="selectContainer hidden" id="emailGroup3" style="flex-direction: column; gap: 2px">
                                    <div style="display: flex; justify-content: flex-end; width: 100%; align-items: center; gap: 5px">
                                        <p (click)="removeEmailGroup('3')">Delete</p>
                                        <i class="fa-solid fa-xmark" (click)="removeEmailGroup('3')"></i>
                                    </div>
                                    <input class="inputField" id="email3" placeholder="Email" value="{{emails[2]}}">
                                </div>
                                <div class="selectContainer hidden" id="emailGroup4" style="flex-direction: column; gap: 2px">
                                    <div style="display: flex; justify-content: flex-end; width: 100%; align-items: center; gap: 5px">
                                        <p (click)="removeEmailGroup('4')">Delete</p>
                                        <i class="fa-solid fa-xmark" (click)="removeEmailGroup('4')"></i>
                                    </div>
                                    <input class="inputField" id="email4" placeholder="Email" value="{{emails[3]}}">
                                </div>
                                <div class="selectContainer hidden" id="emailGroup5" style="flex-direction: column; gap: 2px">
                                    <div style="display: flex; justify-content: flex-end; width: 100%; align-items: center; gap: 5px">
                                        <p (click)="removeEmailGroup('5')">Delete</p>
                                        <i class="fa-solid fa-xmark" (click)="removeEmailGroup('5')"></i>
                                    </div>
                                    <input class="inputField" id="email5" placeholder="Email" value="{{emails[4]}}">
                                </div>
                                <div class="selectContainer hidden" id="emailGroup6" style="flex-direction: column; gap: 2px">
                                    <div style="display: flex; justify-content: flex-end; width: 100%; align-items: center; gap: 5px">
                                        <p (click)="removeEmailGroup('6')">Delete</p>
                                        <i class="fa-solid fa-xmark" (click)="removeEmailGroup('6')"></i>
                                    </div>
                                    <input class="inputField" id="email6" placeholder="Email" value="{{emails[5]}}">
                                </div>
                                <div class="selectContainer hidden" id="emailGroup7" style="flex-direction: column; gap: 2px">
                                    <div style="display: flex; justify-content: flex-end; width: 100%; align-items: center; gap: 5px">
                                        <p (click)="removeEmailGroup('7')">Delete</p>
                                        <i class="fa-solid fa-xmark" (click)="removeEmailGroup('7')"></i>
                                    </div>
                                    <input class="inputField" id="email7" placeholder="Email" value="{{emails[6]}}">
                                </div>
                                <div class="selectContainer clickable" *ngIf="totalEmails.length < 7">
                                    <div style="display: flex; gap: 10px; align-items: center; color: red; width: 100%;" (click)="addEmails()">
                                        <i class="fa-solid fa-plus" style="color: red;"></i>
                                        <p style="font-weight: bold;">Add Email</p>
                                    </div>
                                </div>
                                <h4>Website</h4>
                                <div class="selectContainer hidden" id="websiteGroup1" style="flex-direction: column; gap: 2px">
                                    <div style="display: flex; justify-content: flex-end; width: 100%; align-items: center; gap: 5px">
                                        <p (click)="removeWebsiteGroup('1')">Delete</p>
                                        <i class="fa-solid fa-xmark" (click)="removeWebsiteGroup('1')"></i>
                                    </div>
                                    <input class="inputField" id="website1" placeholder="Website Link" value="{{websites[0]}}">
                                </div>
                                <div class="selectContainer hidden" id="websiteGroup2" style="flex-direction: column; gap: 2px">
                                    <div style="display: flex; justify-content: flex-end; width: 100%; align-items: center; gap: 5px">
                                        <p (click)="removeWebsiteGroup('2')">Delete</p>
                                        <i class="fa-solid fa-xmark" (click)="removeWebsiteGroup('2')"></i>
                                    </div>
                                    <input class="inputField" id="website2" placeholder="Website Link" value="{{websites[1]}}">
                                </div>
                                <div class="selectContainer hidden" id="websiteGroup3" style="flex-direction: column; gap: 2px">
                                    <div style="display: flex; justify-content: flex-end; width: 100%; align-items: center; gap: 5px">
                                        <p (click)="removeWebsiteGroup('3')">Delete</p>
                                        <i class="fa-solid fa-xmark" (click)="removeWebsiteGroup('3')"></i>
                                    </div>
                                    <input class="inputField" id="website3" placeholder="Website Link" value="{{websites[2]}}">
                                </div>
                                <div class="selectContainer hidden" id="websiteGroup4" style="flex-direction: column; gap: 2px">
                                    <div style="display: flex; justify-content: flex-end; width: 100%; align-items: center; gap: 5px">
                                        <p (click)="removeWebsiteGroup('4')">Delete</p>
                                        <i class="fa-solid fa-xmark" (click)="removeWebsiteGroup('4')"></i>
                                    </div>
                                    <input class="inputField" id="website4" placeholder="Website Link" value="{{websites[3]}}">
                                </div>
                                <div class="selectContainer hidden" id="websiteGroup5" style="flex-direction: column; gap: 2px">
                                    <div style="display: flex; justify-content: flex-end; width: 100%; align-items: center; gap: 5px">
                                        <p (click)="removeWebsiteGroup('5')">Delete</p>
                                        <i class="fa-solid fa-xmark" (click)="removeWebsiteGroup('5')"></i>
                                    </div>
                                    <input class="inputField" id="website5" placeholder="Website Link" value="{{websites[4]}}">
                                </div>
                                <div class="selectContainer hidden" id="websiteGroup6" style="flex-direction: column; gap: 2px">
                                    <div style="display: flex; justify-content: flex-end; width: 100%; align-items: center; gap: 5px">
                                        <p (click)="removeWebsiteGroup('6')">Delete</p>
                                        <i class="fa-solid fa-xmark" (click)="removeWebsiteGroup('6')"></i>
                                    </div>
                                    <input class="inputField" id="website6" placeholder="Website Link" value="{{websites[5]}}">
                                </div>
                                <div class="selectContainer hidden" id="websiteGroup7" style="flex-direction: column; gap: 2px">
                                    <div style="display: flex; justify-content: flex-end; width: 100%; align-items: center; gap: 5px">
                                        <p (click)="removeWebsiteGroup('7')">Delete</p>
                                        <i class="fa-solid fa-xmark" (click)="removeWebsiteGroup('7')"></i>
                                    </div>
                                    <input class="inputField" id="website7" placeholder="Website Link" value="{{websites[6]}}">
                                </div>
                                <div class="selectContainer clickable" *ngIf="totalWebsites.length < 7">
                                    <div style="display: flex; gap: 10px; align-items: center; color: red; width: 100%;" (click)="addWebsites()">
                                        <i class="fa-solid fa-plus" style="color: red;"></i>
                                        <p style="font-weight: bold;">Add Website</p>
                                    </div>
                                </div>
                                <h4>Address</h4>
                                <div class="selectContainer hidden" id="addressGroup1" style="flex-direction: column; gap: 2px">
                                    <div style="display: flex; justify-content: flex-end; width: 100%; align-items: center; gap: 5px">
                                        <p (click)="removeAddressGroup('1')">Delete</p>
                                        <i class="fa-solid fa-xmark" (click)="removeAddressGroup('1')"></i>
                                    </div>
                                    <input class="inputField" id="address1" placeholder="Address" value="{{addresses[0]}}">
                                </div>
                                <div class="selectContainer hidden" id="addressGroup2" style="flex-direction: column; gap: 2px">
                                    <div style="display: flex; justify-content: flex-end; width: 100%; align-items: center; gap: 5px">
                                        <p (click)="removeAddressGroup('2')">Delete</p>
                                        <i class="fa-solid fa-xmark" (click)="removeAddressGroup('2')"></i>
                                    </div>
                                    <input class="inputField" id="address2" placeholder="Address" value="{{addresses[1]}}">
                                </div>
                                <div class="selectContainer hidden" id="addressGroup3" style="flex-direction: column; gap: 2px">
                                    <div style="display: flex; justify-content: flex-end; width: 100%; align-items: center; gap: 5px">
                                        <p (click)="removeAddressGroup('3')">Delete</p>
                                        <i class="fa-solid fa-xmark" (click)="removeAddressGroup('3')"></i>
                                    </div>
                                    <input class="inputField" id="address3" placeholder="Address" value="{{addresses[2]}}">
                                </div>
                                <div class="selectContainer clickable" *ngIf="totalAddresses.length < 3">
                                    <div style="display: flex; gap: 10px; align-items: center; color: red; width: 100%;" (click)="addAddresses()">
                                        <i class="fa-solid fa-plus" style="color: red;"></i>
                                        <p style="font-weight: bold;">Add Address</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="" id="videoArea">
                        <div class="editBtnArea" id="editBtnArea">
                            <p class="sectionHeading">Videos</p>
                            <p class="editBtn" (click)="toggleEditField('videoEditArea')">Edit</p>
                        </div>

                        <div class="container flexColumn" *ngIf="data.Company_URL.length > 0">
                            <iframe width="330px" height="200" controls style="border-radius: 15px;" [src]="getSafeUrl(finalLink)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>

                    <div id="videoEditArea" class="width95 hidden">
                        <div class="container cardHeadEditArea">
                            <div class="saveBtnArea">
                                <input type="button" value="Cancel" class="btn2" style="background-color: white; color: black; border: 1px solid black;" (click)="toggleEditField('videoEditArea')">
                                <input type="button" value="Save" class="btn2" (click)="updateCard(cardID, userId)">
                            </div>
                            <h3 class="editHeading">Edit your YouTube video link</h3>
                            <div class="editBodyArea">
                                <input class="inputField" id="Company_URL" placeholder="Link to YouTube video" value={{data.Company_URL}} (keyup)="selectField('Company_URL')">
                            </div>
                        </div>
                    </div>

                    <div class="" id="linksArea">
                        <div class="editBtnArea" id="editBtnArea">
                            <p class="sectionHeading">Links</p>
                            <p class="editBtn" (click)="toggleEditField('linksEditArea')">Edit</p>
                        </div>
                        <div class="container basicContactArea" *ngIf="data.Calendly.length > 0">
                            <div class="cardInfoCont">
                                <i class="fa-solid fa-link"></i>
                                <p class="intel">{{data.Calendly}}</p>
                            </div>
                        </div> 
                        <div class="container basicContactArea" *ngIf="data.Github.length > 0">
                            <div class="cardInfoCont">
                                <i class="fa-solid fa-link"></i>
                                <p class="intel">{{data.Github}}</p>
                            </div>
                        </div> 
                        <div class="container basicContactArea" *ngIf="data.Paypal.length > 0">
                            <div class="cardInfoCont">
                                <i class="fa-solid fa-link"></i>
                                <p class="intel">{{data.Paypal}}</p>
                            </div>
                        </div> 
                    </div>

                    <div id="linksEditArea" class="width95 hidden">
                        <div class="container cardHeadEditArea">
                            <div class="saveBtnArea">
                                <input type="button" value="Cancel" class="btn2" style="background-color: white; color: black; border: 1px solid black;" (click)="toggleEditField('linksEditArea')">
                                <input type="button" value="Save" class="btn2" (click)="updateCard(cardID, userId)">
                            </div>
                            <h3 class="editHeading">Edit your Links</h3>
                            <div class="editBodyArea">
                                <div class="selectContainer" id="linkGroup1">
                                    <select id="link1" class="socialSelector" (change)="getLinkValue('1')">
                                        <option value="Calendly">Calendly</option>
                                        <option value="Github">GitHub</option>
                                        <option value="Paypal">PayPal</option>
                                    </select>

                                    <input class="inputField" id="linkLink1" placeholder="Link" value="{{data.Calendly}}" (keyup)="linkGetEvent('1')">
                                </div>

                                <div class="selectContainer hidden" id="linkGroup2" style="flex-direction: column; gap: 2px">
                                    <div style="display: flex; justify-content: flex-end; width: 100%; align-items: center; gap: 5px">
                                        <p (click)="removeLinkGroup('2')">Delete</p>
                                        <i class="fa-solid fa-xmark" (click)="removeLinkGroup('2')"></i>
                                    </div>
                                    <div style="display: flex; width: 100%; gap: 10px;">
                                        <select id="link2" class="socialSelector" (change)="getLinkValue('2')">
                                            <option value="Github">GitHub</option>
                                            <option value="Calendly">Calendly</option>
                                            <option value="Paypal">PayPal</option>
                                        </select>

                                        <input class="inputField" id="linkLink2" placeholder="Link" value="{{data.Github}}" (keyup)="linkGetEvent('2')">
                                    </div>
                                </div>

                                <div class="selectContainer hidden" id="linkGroup3" style="flex-direction: column; gap: 2px">
                                    <div style="display: flex; justify-content: flex-end; width: 100%; align-items: center; gap: 5px">
                                        <p (click)="removeLinkGroup('3')">Delete</p>
                                        <i class="fa-solid fa-xmark" (click)="removeLinkGroup('3')"></i>
                                    </div>
                                    <div style="display: flex; width: 100%; gap: 10px;">
                                        <select id="link3" class="socialSelector" (change)="getLinkValue('3')">
                                            <option value="Paypal">PayPal</option>
                                            <option value="Github">GitHub</option>
                                            <option value="Calendly">Calendly</option>
                                        </select>

                                        <input class="inputField" id="linkLink3" placeholder="Link" value="{{data.Paypal}}" (keyup)="linkGetEvent('3')">
                                    </div>
                                </div>

                                <div class="selectContainer clickable" *ngIf="totalLinks.length < 2">
                                    <div style="display: flex; gap: 10px; align-items: center; color: red; width: 100%;" (click)="addLinks()">
                                        <i class="fa-solid fa-plus" style="color: red;"></i>
                                        <p style="font-weight: bold;">Add Links</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flexColumn">
                    <div>
                        <div class="userName fontMontserrateSemiBold">Email Signature</div>

                        <div class="pnl sigPnl">
                            <div class="btnRow">
                                <button class="sigBtn">QR Code</button>
                                <button class="sigBtn">Logo & Image</button>
                                <button class="sigBtn">Logo</button>
                                <button class="sigBtn">Text</button>
                            </div>

                            <div id="html">
                                <div class="signatureBox">
                                    <div class="sigBoxHeader">
                                        <div class="imgCont">
                                            <img class="profilePic sigImg" id="profilePic" [src]="imageUrl">
                                        </div>
                                        <div class="basicInfoCont">
                                            <h5 class="nameData">{{data.Name}}</h5>
                                            <p class="data">{{data.Job_title}}</p>
                                            <p class="data">{{data.Company_name}}</p>
                                        </div>
                                        <div class="logoCont">
                                            <img class="profilePic sigLogo" id="profilePic" [src]="logoUrl">
                                        </div>
                                    </div>
                                    <div class="sigBoxBody">
                                        <div class="basicInfoCont">
                                            <div style="gap: 5px; flex-direction: row; display: flex;" *ngIf="phoneNumbers[0] != ''">
                                                <div>
                                                    <i class="fa-solid fa-phone data"></i>
                                                    <p class="data">{{phoneNumbers[0]}}</p>
                                                </div>
                                            </div>
                                            <div style="gap: 5px; flex-direction: row; display: flex;" *ngIf="phoneNumbers[1] != null">
                                                <i class="fa-solid fa-mobile data"></i>
                                                <p class="data">{{phoneNumbers[1]}}</p>
                                            </div>
                                            <div *ngIf="emails[0] != null">
                                                <div style="display: flex; gap: 5px;" *ngIf="emails[0] != ''">
                                                    <i class="fa-solid fa-envelope data"></i>
                                                    <p class="data">{{emails[0]}}</p>
                                                </div>
                                            </div>
                                            <div style="gap: 5px; flex-direction: row; display: flex;" *ngIf="websites[0] != ''">
                                                <i class="fa-solid fa-link data"></i>
                                                <p class="data">{{websites[0]}}</p>
                                            </div>
                                            <div style="gap: 5px; flex-direction: row; display: flex;" *ngIf="addresses[0] != ''">
                                                <div style="display: flex; gap: 5px" *ngIf="addresses[0] != ''">
                                                    <i class="fa-solid fa-map data"></i>
                                                    <p class="data">{{addresses[0]}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="qrCont">
                                            <qrcode [qrdata]="cardViewLink" [width]="80" [errorCorrectionLevel]="'M'"></qrcode>
                                        </div>
                                    </div>
                                    <div class="sigFooter">
                                        <div class="socialsCont">
                                            <i class="fa-brands fa-twitter" *ngIf="data.Twitter.length > 0"></i>
                                            <i class="fa-brands fa-instagram" *ngIf="data.Instagram.length > 0"></i>
                                            <i class="fa-brands fa-linkedin" *ngIf="data.Linkedin.length > 0"></i>
                                            <i class="fa-brands fa-facebook" *ngIf="data.Facebook.length > 0"></i>
                                            <i class="fa-brands fa-youtube" *ngIf="data.Youtube.length > 0"></i>
                                            <i class="fa-brands fa-snapchat" *ngIf="data.Snapchat.length > 0"></i>
                                            <i class="fa-brands fa-tiktok" *ngIf="data.Tiktok.length > 0"></i>
                                            <i class="fa-brands fa-twitch" *ngIf="data.Twitch.length > 0"></i>
                                            <i class="fa-brands fa-yelp" *ngIf="data.Yelp.length > 0"></i>
                                            <i class="fa-brands fa-discord" *ngIf="data.Discord.length > 0"></i>
                                            <i class="fa-brands fa-whatsapp" *ngIf="data.Whatsapp.length > 0"></i>
                                            <i class="fa-brands fa-skype" *ngIf="data.Skype.length > 0"></i>
                                            <i class="fa-brands fa-telegram" *ngIf="data.Telegram.length > 0"></i>
                                        </div>
                                        <div class="saveCont">
                                            <button class="cpySigBtn">Save Contact</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button class="cpySigBtn marginTop10" (click)="cpySigBtn()">Copy Signature</button>
                            <p class="sigIntel">Copy above signature and paste it as your email signature</p>
                        </div>
                    </div>

                    <div class="flexRow">
                        <div class="pnl">
                                <qrcode [qrdata]="cardViewLink" [width]="250" [errorCorrectionLevel]="'M'"></qrcode>
                            <div class="userName fontMontserrateSemiBold">QR Code</div>
                        </div>
        
                        <div class="pnl">
                            <canvas baseChart width="400" height="400"
                            [data]="lineChartData"
                            [options]="lineChartOptions"
                            [type]="lineChartType"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>