<div class="verticalNav">
    <div class="verticalNavButtons">
        <button routerLink="/userDashboard" class="verticalNavBtn">Cards</button>
        <button routerLink="/emailSignature" class="verticalNavBtn">Email Signature</button>
        <button routerLink="/analytics" class="verticalNavBtn">Analytics</button>
        <button routerLink="/inventory" class="verticalNavBtn">Inventory</button>
        <button routerLink="/settings" class="verticalNavBtn">Settings</button>
        <button routerLink="/" class="verticalNavBtn">Log Out</button>
    </div>
</div>