// Decleration Section
$primaryColor: #f35a57;
$primaryAccentColor: #d14b49;
$backgroundColor: #494949;
$backgroundAccentColor: #646464;
$foregroundColor: white;



// Imports Section
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');



// Body Section
.body {
    background-color: $backgroundAccentColor;
    padding: 100px;
}

.title {
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    color: $primaryColor;
    text-align: center;
}

.steps {
    display: flex;
    gap: 80px;
    justify-content: center;
}

.step {
    color: $foregroundColor;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.step h1{
    font-weight: 300;
    font-size: 30px;
}

.step-img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 800px) {
    .steps {
        flex-direction: column;
    }

    .step {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}