@font-face {
    font-family: "SourceSansProRegular";
    src: url("../../assets/fonts/SourceSansPro-Regular.ttf");
  }

// Decleration Section
$primaryColor: #f35a57;
$primaryAccentColor: #d14b49;
$backgroundColor: #353535;
$backgroundAccentColor: #646464;
$foregroundColor: white;



// Imports Section




// Overriding Attributes
.gap {
    gap: 10px;
}

.gapTop {
    margin-top: 20px;
}

.gapRight {
    margin-right: 10px;
}

.bold {
    font-weight: bold;
}

.width10 {
    width: 10px;
}

.width20 {
    width: 20px;
}

.flexBox {
    // height: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 12px;
}
.flexBox1 {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 12px;
}

.flexContainer {
    display: flex;
    margin-top: 20px;
}

.invisible {
    width: 90px;
    height: 40px;
    min-height: 30px;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid transparent;
    background-color: transparent;
    color: transparent;
}



// Body Section
* {
    font-family: SourceSansProRegular, sans-serif;
    scrollbar-width: 5px;
}

.body {
    width: 100%;
    height: calc(100vh - 2px);
    min-height: 837px;
    display: flex;
    border-bottom: 2px solid black;
}



// Content Area
.contentArea {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
}



// Horizontal Navigation Area
.horizontalNavArea {
    background-color: #f5f5f5;
    border-bottom: 2px solid rgb(182, 182, 182);
    height: 80px;
    min-height: 80px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navLogo {
    display: none;
}

.pageTitle {
    margin-left: 2%;
}

.totalCards {
    margin-right: 2%;
    border: 2px solid rgb(182, 182, 182);
    height: 60px;
    width: 100px;
    display: flex;
    flex-direction: column;
}

.totalCards h3 {
    margin-top: 10px;
    margin-left: 10px;
}

.totalCards h5 {
    margin-top: -20px;
    margin-left: 10px;
    font-weight: lighter;
}

.hamContainer {
    display: flex;
    width: 100%;
    align-items: center;
}



// Search Area
.searchArea {
    border-bottom: 2px solid rgb(182, 182, 182);
    height: 120px;
    min-height: 120px;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    scrollbar-width: 5px;
}

.searchContainer {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.searchContainersingle {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    height: 100%;   
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.checkBoxContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-left: 10px;
}

.searchLableContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    min-width: 80px;
}

.lableContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
}

.lable {
    min-width: 50px;
    width: 100%;
    font-size: 11pt;
    font-weight: lighter;
    margin-left: 10px;
}

.dateField {
    min-width: 100px;
    height: 30px;
}

.inputField {
    height: 30px;
    width: 180px;
    font-size: 20px;
    border: 2px solid #3d3d3d;
}

.dateSpecifier {
    height: 30px;
    width: 240px;
    font-size: 11pt;
    border: 2px solid #3d3d3d;
}

.btnField {
    background-color: #000000;
    color: white;
    border-radius: 5px;
    border: none;
    height: 35px;
    min-height: 35px;
    width: 90px;
    font-size: 20px;
    transition: 0.3s;
}

.btnField:hover {
    cursor: pointer;
    background-color: rgb(46, 46, 46);
    transition: 0.3s;
}

.numField {
    width: 90px;
    height: 40px;
    min-height: 30px;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid #3d3d3d;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}



// Table Section
.cards-panel {
    margin: 50px;
    display: flex;
    gap: 50px;
    background-color: white;
  }

  .card {
    max-width: 21rem;
    padding: 1rem;
    border-radius: 1.2rem;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0.25rem 0.25rem 1.5rem rgba(0 0 0/0.1);
    transition: transform 300ms ease;
  }
  
  .card:hover {
    transform: scale(1.02);
  }
  
  .card__img {
    max-width: 100%;
    border-radius: 0.9rem;
  }
  
  .card__content {
    padding: 0.2em 0.5em;
    font-family: 'SourceSansProRegular', sans-serif;
  }
  
  .card__title {
    font-size: 1.5rem;
    color: hsl(218, 44%, 22%);
  }
  
  .card__desc {
    padding: 0 0.2em;
    font-size: 1rem;
  }

  .actions {
    display: flex;
    gap: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    font-family: 'SourceSansProRegular', sans-serif;
  }

  .cardHolder {
    display: flex;
  }

  .actions i:hover {
    color: #f35a57;
    cursor: pointer;
  }

  .ico-info {
    display: flex;
    gap: 10px;
  }

  .card-btn {
    background-color: #666666;
    color: white;
    padding: 10px 10px;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
  }

  .card-btn:hover {
    cursor: pointer;
    background-color: #474747;
  }

.pnl2 {
  max-height: 450px;
}

.pnl3 {
  max-height: 450px;
}

  .secondary {
    height: 100%;
  }


.overlay {
    display: none;
}

@media only screen and (max-width: 600px) {
    .pageTitle {
        margin-left: 10%;
    }

    .logoContainer {
        display: flex;
        justify-content: flex-end;
        margin: 25px;
    }

    .mobileHide {
        display: none;
    }

    .navLogo {
        display: block;
        width: 60px;
        height: 60px;
        margin-left: 50px;
    }

    .totalCards {
        width: 20%;
        height: 50%;
        justify-content: flex-end;
    }

    .pageTitle {
        font-size: 25px;
    }

    .overlay {
        display: block;
    }

    .verticalNavArea {
        display: none;
    }

    .searchArea {
        overflow-x: scroll;
    }

    .tableArea {
        overflow-x: scroll;
    }

    .overlay-menu {
        display: block;
        margin-top: -100px;
    }

    .button_container {
        top: 5%;
        right: 2%;
        height: 27px;
        width: 35px;
        cursor: pointer;
        z-index: 100;
        transition: opacity 0.25s ease;
   }
    .button_container:hover {
        opacity: 0.7;
   }
    .button_container.active .top {
        transform: translateY(11px) translateX(0) rotate(45deg);
        background: #fff;
   }
    .button_container.active .middle {
        opacity: 0;
        background: #fff;
   }
    .button_container.active .bottom {
        transform: translateY(-11px) translateX(0) rotate(-45deg);
        background: #fff;
   }
    .button_container span {
        background: $backgroundAccentColor;
        border: none;
        height: 5px;
        width: 10%;
        position: absolute;
        top: 0;
        margin: 28px 20px 0px 10px;
        transition: all 0.35s ease;
        cursor: pointer;
   }
    .button_container span:nth-of-type(2) {
        top: 11px;
   }
    .button_container span:nth-of-type(3) {
        top: 22px;
   }
    .overlay {
        position: fixed;
        background: $backgroundAccentColor;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.35s, visibility 0.35s, width 0.35s;
        overflow: hidden;
   }
    .overlay.open {
        opacity: 0.9;
        visibility: visible;
        width: 100%;
   }
    .overlay.open li {
        animation: fadeInRight 0.5s ease forwards;
        animation-delay: 0.35s;
   }
    .overlay.open li:nth-of-type(2) {
        animation-delay: 0.4s;
   }
    .overlay.open li:nth-of-type(3) {
        animation-delay: 0.45s;
   }
    .overlay.open li:nth-of-type(4) {
        animation-delay: 0.5s;
   }
    .overlay nav {
        position: relative;
        height: 40%;
        top: 20%;
        transform: translateY(-20%);
        font-size: 25px;
        font-weight: 400;
        text-align: center;
        font-family: 'SourceSansProRegular', sans-serif;
   }
    .overlay ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        display: inline-block;
        position: relative;
        height: 100%;
   }
    .overlay ul li {
        display: block;
        height: 25%;
        height: calc(100% / 4);
        min-height: 50px;
        position: relative;
        opacity: 0;
   }
    .overlay ul li a {
        display: block;
        position: relative;
        color: #fff;
        text-decoration: none;
        overflow: hidden;
   }
    .overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
        width: 100%;
   }
    .overlay ul li a:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0%;
        transform: translateX(-50%);
        height: 3px;
        background: #fff;
        transition: 0.35s;
   }
    @keyframes fadeInRight {
        0% {
            opacity: 0;
            left: 20%;
       }
        100% {
            opacity: 1;
            left: 0;
       }
   }
}