<div class="body">
    <div class="verticalNavArea">
        <img src="../../assets/img/logo.jpg" alt="MyTag Logo" class="logoImg">

        <div class="navigationMenu">
            <div class="navBtn">Dashboard</div>
            <div class="navBtn">Inventory</div>
            <div class="navBtn">Accounts</div>
            <div class="navBtn">Active Cards</div>
            <div class="navBtn">Orders</div>
            <div class="navBtn">Settings</div>
            <div class="navBtn">Log Out</div>
        </div>
    </div>
    <div class="contentArea">
        <div class="horizontalNavArea">
            <h1 class="pageTitle">Dashboard</h1> 
            
            <div class="totalCards">
                <h3>MYTAG</h3>
                <h5>Total Cards: 0</h5>
            </div>
        </div>
        <div class="searchArea">
            <div class="dateContainer">
                <input type="date" id="startDate" name="Start Date" class="datePicker">
                <input type="date" id="endDate" name="End Date" class="datePicker">
            </div>
        </div>
    </div>
</div>