// Decleration Section
$primaryColor: #5137F1;
$primaryAccentColor: #2E10E5;
$backgroundColor: #f4f4f4;
$backgroundAccentColor: #e9e9e9;
$foregroundColor: #38466B;



// Imports Section
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');



// Body Section
.holder1 {
  background-color: #f6ecff;
  color: black;
  display: flex;
  flex-direction: column;
}

.topic-area {
  padding: 20px;
  text-align: center;
  background-color: $backgroundAccentColor;
  color: $primaryColor;
}

.topic-title {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 70px;
}

.topic-caption {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.contact-info {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.info-title {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: $foregroundColor;
}

.info-desc {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: $foregroundColor;
  margin: 50px;
}

.leaf-img {
  position: absolute;
  float: right;
  opacity: 20%;
  margin: 0;
  width: 700px;
  height: auto;
}

.contactHolder {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $backgroundColor;
  color: $foregroundColor;
}

.body {
  height: 100vh;
  width: 100%;
}

.form-container {
    display: flex;
    justify-content: center;
}

.contactForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $backgroundColor;
  padding-top: 3%;
  padding-bottom: 5%;
}

a{
  text-decoration: none;
  color: white;
}

.footer{
  background-color: #5c5c5c;
  text-align: center;
  text-transform: uppercase;
  padding-top: 30px;
  font-family: 'Lato', sans-serif;
}

.footer li{
  list-style: none;
  margin: 10px;
  display: inline-block;
}
.menu a{
  color: #ffffff;
  text-transform: capitalize;
}
.menu a:hover{
  color: #a3a3a3;
  transition: 0.5s;
}

.footer-copyright{
  background-color:#232323;
  color: #ffffff;
  padding: 15px;
  margin-top: 30px;
  text-transform: capitalize;
}

.footer-copyright p{
  margin-bottom: 0px;
}

.txtField {
  font-size: 20px;
  width: 150%;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.inputBtn {
  font-size: 20px;
  padding: 10px 20px;
  background-color: $primaryColor;
  color: white;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
  transition: 0.3s;
}

.inputBtn:hover {
  background-color: $primaryAccentColor;
  transition: 0.3s;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .pricingOptions{
      flex-direction: column;
      gap: 10px;
  }

  .leaf-img {
      display: none;
  }
}