<div class="body">
<img class="leaf-img" src="../../assets/img/leaf.png">
<section class="holder1" id="contact-section">
<div class="topic-area">
    <h1 class="topic-title">Contact Us</h1>
    <h2 class="topic-caption">Bring your digital customer experience to the next level. </h2>
</div>
</section>

<div class="holder contactHolder">
    <div class="contact-info">
      <h1 class="info-title">Address:</h1>
      <p class="info-desc">Office MF04, City Avenue Building, Port Saeed, Deira, Dubai</p>
      <h1 class="info-title">Email:</h1>
      <p class="info-desc">mytag@noreply.com</p>
      <h1 class="info-title">Telephone:</h1>
      <p class="info-desc">+971 4 286 1212</p>
      <h1 class="info-title">Mobile:</h1>
      <p class="info-desc">+971 55 103 8588</p>
      <br>
      <p class="info-desc">You have a question about our products? Need a demo or have an idea you‘d like to implement? Our team will get back to you within one business day.</p>
    </div>

    <div class="form-container">
      <div class="form-panel">
        <form method="post">
          <div class="txt_field">
              <input type="text" required>
              <label>Full Name</label>
          </div>
          <div class="txt_field">
              <input type="text" required>
              <label>Job Title</label>
          </div>
          <div class="txt_field">
            <input type="text" required>
            <label>Company Name</label>
          </div>
          <div class="txt_field">
            <input type="text" required>
            <label>Company Number</label>
          </div>
          <div class="txt_field">
            <input type="text" required>
            <label>Work Email</label>
          </div>
          <div class="txt_field">
            <input type="text" required>
            <label>Website URL</label>
          </div>
          <div class="txt_field">
            <input type="text" required>
            <label>Address</label>
          </div>
          <div class="txt_field">
            <input type="text" required>
            <label>Note</label>
          </div>
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  </div>
</div>