<div class="body" id="contact-section">
  <img class="leaf-img" src="../../assets/img/leaf.png">
    <div class="topic-area">
        <h1 class="topic-title">Contact Us</h1>
        <h2 class="topic-caption">Bring your digital customer experience to the next level. </h2>
    </div>

    <div class="contactHolder">
      <div class="contact-info">
        <h1 class="info-title">Address:</h1>
        <p class="info-desc">Office MF04, City Avenue Building, Port Saeed, Deira, Dubai</p>
        <h1 class="info-title">Email:</h1>
        <p class="info-desc">mytag@noreply.com</p>
        <h1 class="info-title">Telephone:</h1>
        <p class="info-desc">+971 4 286 1212</p>
        <h1 class="info-title">Mobile:</h1>
        <p class="info-desc">+971 55 103 8588</p>
        <br>
        <p class="info-desc">You have a question about our products? Need a demo or have an idea you‘d like to implement? Our team will get back to you within one business day.</p>
      </div>
    </div>

    <div class="formContainer">
      <form class="contactForm">
        <input class="txtField" type="text" placeholder="Full Name">
        <input class="txtField" type="text" placeholder="Job Title">
        <input class="txtField" type="text" placeholder="Company Name">
        <input class="txtField" type="number" placeholder="Company Number">
        <input class="txtField" type="email" placeholder="Work Email">
        <input class="txtField" type="url" placeholder="Website URL">
        <input class="txtField" type="text" placeholder="Address">
        <input class="txtField" type="text" placeholder="Note">
      </form>
      <button class="inputBtn">Submit</button>
    </div>

    <div class="footer">
      <ul class="icons">
          <li><a routerLink="/">MyTag</a></li>
      </ul>
      <ul class="menu">
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Partners</a></li>
              <li><a href="#">Specialties</a></li>
              <li><a href="#">Contact Us</a></li>
      </ul>
      <div class="footer-copyright">
          <p>Copyright @ 2022 All Rights Reserved.</p>
      </div>
  </div>

  <!-- <div class="form-container">
    
  </div> -->
</div>