@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');


.main-content-section {
    height: 100vh;
    color: black;
    display: flex;

    .hero-info-pnl{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .hero-caption {
            font-family: 'Lato', sans-serif;
            font-size: 50px;
            padding: 0 7%;
        }
        
        .hero-desc {
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            font-size: 18px;
            text-align: justify;
            text-justify: auto;
            padding:  0 7%;
        }

        .app-down-section {
            margin-top: 20px;
            display: flex;
        }
        
        .downimg {
            width: 150px;
            margin-left: 10px;
        }
    }

    .hero-img-pnl{
        width: 50%;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;  
        overflow: hidden;
    }

    
    
    
}

