<div class="spacing" id="home-section"></div>

<section class="home-section">
  <section class="holder">
    <section class="main-content-section">
      <div class="hero-info-pnl">
        <h1 class="hero-caption">Breaking Through With Digital Business Cards</h1>
        <h2 class="hero-desc">Make the move and benifit from unexpected opportunities for your networking. Share your contact details via NFC Card, QR code, or Web Link. MyTAG
          offers you the best all-in-one solution for your business.
        </h2>
        <div class="app-down-section">
          <a href=""><img src="../assets/img/ps.png" class="downimg"></a>
          <a href=""><img src="../assets/img/as.png" class="downimg"></a>
        </div>
      </div>
      <div class="hero-img-pnl">
        <img class="demoimg" src="../assets/img/demoimg.png">
      </div>
    </section>
  </section>

  <app-demo></app-demo>
  <app-features></app-features>
  <app-pricing></app-pricing>
  <app-contactus></app-contactus>

</section>
