<div class="home-section" id="home-section">
<app-header></app-header>
  <section class="holder">
    <h1 class="hero-caption">Breaking Through With<br>Digital Business Cards</h1>
    <h2 class="hero-desc">Make the move and benifit from unexpected opportunities for<br>your networking. Share your contact details via NFC Card, QR code,<br>or Web Link. MyTAG
      offers you the best all-in-one solution for your business.
    </h2>
    <div class="center">
      <a routerLink="/login" class="button light white w-button" style="text-decoration: none;">Create Your Card</a>
    </div>
  </section>

  <app-howitworks></app-howitworks>
  <app-features></app-features>
  <app-demo></app-demo>
  <app-pricing></app-pricing>
  <app-contactus></app-contactus>
</div>
