<div class="button_container" id="toggle" (click)="toggleNav()"><span class="top"></span><span class="middle"></span><span class="bottom"></span>
</div>
<div class="overlay" id="overlay">
  <nav class="overlay-menu">
    <ul>
      <li><a (click)="onHome()">Home</a></li>
      <li><a (click)="onFeatures()">Features</a></li>
      <li><a (click)="onDemo()">Demo</a></li>
      <li><a (click)="onPricing()">Pricing</a></li>
      <li><a (click)="onContactUs()">Contact Us</a></li>
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/adminLogin">Admin Login</a></li>
    </ul>
  </nav>
</div>

<div class="home-section" id="home-section">
  <app-header></app-header>

  <section class="holder">
    <h1 class="hero-caption">Breaking Through With<br>Digital Business Cards</h1>
    <h2 class="hero-desc">Make the move and benifit from unexpected opportunities for<br>your networking. Share your contact details via NFC Card, QR code,<br>or Web Link. MyTAG
      offers you the best all-in-one solution for your business.
    </h2>
    <div class="btnContainer">
      <a routerLink="/login" class="btn" style="text-decoration: none;">Create Your Card</a>
    </div>
  </section>

  <app-howitworks></app-howitworks>
  <app-features></app-features>
  <app-demo></app-demo>
  <app-pricing></app-pricing>
  <app-contactus></app-contactus>
</div>
