<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<app-user-dashboard-nav></app-user-dashboard-nav>
<div class="main">
    <div class="verticalNav">
        <ul>
            <li><a routerLink="/userDashboard">Cards</a></li>
            <li><a >Email Signature</a></li>
            <li><a >Analytics</a></li>
            <li><a >Settings</a></li>
            <li routerLink="/"><a class="active">Log Out</a></li>
        </ul>
    </div>

    <div class="main-body">
        <div class="cards-panel">
            <div class="pnl1">
                <div class="actions">
                    <i routerLink="/createCard" class="fa fa-pencil-square-o"> Edit</i>
                </div>
                <article class="card" routerLink="/cardPreview">
                    <img class="card__img" src="../../assets/img/demoprofile.jpg" alt="banner">
                    <div class="card__content">
                        <br>
                        <h1 class="user_name">User's Full Name</h1>
                        <br>
                        <p class="card_title">Title</p>
                        <br>
                        <p class="card_compName">MyTag</p>
                        <br>
                        <div class="ico-info">
                            <i class="fa fa-envelope"></i><p class="card_email"> example@mail.org</p>
                        </div>
                        <br>
                        <div class="ico-info">
                            <i class="fa fa-phone"></i><p class="card_phone"> +123 123-1234</p>
                        </div>
                        <br>
                        <div class="ico-info">
                            <i class="fa fa-phone"></i><p class="card_phone"> +098 098-0987</p>
                        </div>
                    </div>
                </article>
            </div>
            
            <div class="pnl2">
                <div class="actions">
                    <h4>QR Code</h4>
                </div>
                <article class="card" routerLink="/cardPreview">
                    <canvas class="card__img" id="QRCanvas"></canvas>
                    <div class="card__content">
                        <br>
                        <h1 class="card-btn">Copy Link</h1>
                        <br>
                        <h1 class="card-btn">Download</h1>
                        <br>
                    </div>
                </article>
            </div>
            
            <div class="pnl3">
                <div class="actions">
                    <i class="fa fa-pencil-square-o"> Edit Email Signature</i>
                </div>
                <article class="card" routerLink="/cardPreview">
                    <img class="card__img" src="https://kellychi22.github.io/frontend-mentor-solutions/03-qr-code-component/images/image-qr-code.png" alt="frontend-mentor-website-qrcode" alt="banner">
                    <div class="card__content">
                        <br>
                        <h1 class="card-btn">Copy Signature</h1>
                        <br>
                    </div>
                </article>
            </div>
            
            <div class="pnl4">
                
            </div>
        </div>
    </div>
</div>